Now that you know the basics of what makes up a pandas dataframe, lets look at how we might actually clean
some messy data. Now, there are many different approaches you can take to clean data, so this lecture is
just one example of how you might tackle a problem.

In [8]:
import pandas as pd
dfs=pd.read_html("https://en.wikipedia.org/wiki/College_admissions_in_the_United_States")
len(dfs)

dfs

[    0                                                  1
 0 NaN  This article has multiple issues. Please help ...
 1 NaN  This article contains instructions, advice, or...
 2 NaN  This article may contain an excessive amount o...,
     0                                                  1
 0 NaN  This article contains instructions, advice, or...,
     0                                                  1
 0 NaN  This article may contain an excessive amount o...,
    Unnamed: 0_level_0 Total (56 institutions)                     \
    Unnamed: 0_level_1      Unnamed: 1_level_1 Unnamed: 2_level_1
     Admit Year (Fall)                    Apps             Admits
 0                2001                  645111             198815
 1                2002                  650908             202565
 2                2003                  681989             206423
 3                2004                  699074             207238
 4                2005                  737493             213865
 5                2006                  773374             217846
 6                2007                  822156             220200
 7                2008                  900502             225242
 8                2009                  945442             237141
 9                2010                 1005061             241971
 10               2011                 1081719             242188
 11               2012                 1122097             239371
 12               2013                 1197549             237696
 13               2014                 1279412             242628
 14               2015                 1325730             240687
 15               2016                 1390056             242910
 16               2017                 1451021             238317
 17               2018                 1588286             225082
 18               2019                 1635975             213999
 19               2020                 1602944             235872
 20               2021                 1992872             226931
 21               2022                 2092503             203618

                                                              \
    Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
                Enroll        Admit  rate      Admit: enroll
 0               79872              30.8%               2.49
 1               82026              31.1%               2.47
 2               82544              30.3%               2.50
 3               83682              29.6%               2.48
 4               83591              29.0%               2.56
 5               83900              28.2%               2.60
 6               85740              26.8%               2.57
 7               85678              25.0%               2.63
 8               87201              25.1%               2.72
 9               88208              24.1%               2.74
 10              88691              22.4%               2.73
 11              89921              21.3%               2.66
 12              89586              19.8%               2.65
 13              92713              19.0%               2.62
 14              92548              18.2%               2.60
 15              95213              17.5%               2.55
 16              96667              16.4%               2.47
 17              96815              14.2%               2.32
 18              95601              13.1%               2.24
 19              95900              14.7%               2.46
 20             105549              11.4%               2.15
 21              99721               9.7%               2.04

                                                                                                                                                                       27 private universities  \
    Ivy League, Stanford, MIT, UChicago, Duke, Northwestern, Vanderbilt, Johns Hopkins, Rice, USC, WashU, Tulane, Tufts, Georgetown, Carnegie Mellon, Notre Dame, Emory, NYU, BU, Northeastern
                                                                                                                                                                                          Apps
 0                                              415855
 1                                              418230
 2                                              439502
 3                                              453319
 4                                              484023
 5                                              516292
 6                                              543558
 7                                              600623
 8                                              636650
 9                                              686095
 10                                             736860
 11                                             763233
 12                                             803031
 13                                             837455
 14                                             859126
 15                                             899097
 16                                             928973
 17                                            1019631
 18                                            1056382
 19                                            1026587
 20                                            1287398
 21                                            1328415

                                ...  \
                                ...
     Admits Enroll Admit  rate  ...
 0   120124  46931       28.9%  ...
 1   123779  48626       29.6%  ...
 2   126504  49491       28.8%  ...
 3   126441  49615       27.9%  ...
 4   132750  49982       27.4%  ...
 5   135568  49507       26.3%  ...
 6   135918  50250       25.0%  ...
 7   140741  50180       23.4%  ...
 8   148566  51285       23.3%  ...
 9   151404  51658       22.1%  ...
 10  147538  52383       20.0%  ...
 11  143454  52109       18.8%  ...
 12  141634  51826       17.6%  ...
 13  142789  53096       17.1%  ...
 14  140416  52895       16.3%  ...
 15  139467  53542       15.5%  ...
 16  135173  54826       14.6%  ...
 17  123734  54771       12.1%  ...
 18  115137  53580       10.9%  ...
 19  128793  54022       12.5%  ...
 20  120928  59870        9.4%  ...
 21  105240  55044        7.9%  ...

                                           6 public universities                \
    UCLA, UC Berkeley, Georgia Tech, UNC-Chapel Hill, UMich, UVA
                                                            Apps Admits Enroll
 0                                              138627            49041  22110
 1                                              141166            49377  22264
 2                                              146165            50209  22262
 3                                              144258            50923  23169
 4                                              147507            51430  22639
 5                                              148794            52343  23589
 6                                              163374            54788  24637
 7                                              172826            54634  24347
 8                                              186771            58364  24830
 9                                              192770            59986  25175
 10                                             210869            64962  25092
 11                                             221000            66400  26537
 12                                             253272            67242  26461
 13                                             298332            70493  28230
 14                                             312640            70418  28160
 15                                             332971            74255  30204
 16                                             355081            73976  30301
 17                                             384589            71763  30236
 18                                             383853            70249  30380
 19                                             388086            76419  30872
 20                                             479225            76115  32857
 21                                             521057            70094  32493

                               \

    Admit  rate Admit: enroll
 0        35.4%          2.22
 1        35.0%          2.22
 2        34.4%          2.26
 3        35.3%          2.20
 4        34.9%          2.27
 5        35.2%          2.22
 6        33.5%          2.22
 7        31.6%          2.24
 8        31.2%          2.35
 9        31.1%          2.38
 10       30.8%          2.59
 11       30.0%          2.50
 12       26.5%          2.54
 13       23.6%          2.50
 14       22.5%          2.50
 15       22.3%          2.46
 16       20.8%          2.44
 17       18.7%          2.37
 18       18.3%          2.31
 19       19.7%          2.48
 20       15.9%          2.32
 21       13.5%          2.16

                                                                                                                                                                                                              23 liberal arts colleges  \
    Pomona, Claremont McK, Swarthmore, Bowdoin, Amherst, Williams, Colby, Barnard, Pitzer, Bates, Harvey Mudd, Colorado Coll, Middlebury, Wesleyan, Hamilton, Haverford, Carleton, Davidson, Wellesley, W&L, Colgate, Grinnell, Vassar
                                                                                                                                                                                                                                  Apps
 0                                               90629
 1                                               91512
 2                                               96322
 3                                              101497
 4                                              105963
 5                                              108288
 6                                              115224
 7                                              127053
 8                                              122021
 9                                              126196
 10                                             133990
 11                                             137864
 12                                             141246
 13                                             143625
 14                                             153964
 15                                             157988
 16                                             166967
 17                                             184066
 18                                             195740
 19                                             188271
 20                                             226249
 21                                             243031



    Admits Enroll Admit  rate Admit: enroll
 0   29650  10831       32.7%          2.74
 1   29409  11136       32.1%          2.64
 2   29710  10791       30.8%          2.75
 3   29874  10898       29.4%          2.74
 4   29685  10970       28.0%          2.71
 5   29935  10804       27.6%          2.77
 6   29494  10853       25.6%          2.72
 7   29867  11151       23.5%          2.68
 8   30211  11086       24.8%          2.73
 9   30581  11375       24.2%          2.69
 10  29688  11216       22.2%          2.65
 11  29517  11275       21.4%          2.62
 12  28820  11299       20.4%          2.55
 13  29346  11387       20.4%          2.58
 14  29853  11493       19.4%          2.60
 15  29188  11467       18.5%          2.55
 16  29168  11540       17.5%          2.53
 17  29585  11808       16.1%          2.51
 18  28613  11641       14.6%          2.46
 19  30660  11006       16.3%          2.79
 20  29888  12822       13.2%          2.33
 21  28284  12184       11.6%          2.32

 [22 rows x 21 columns],
          School     Cost
 0   Harvey Mudd  $77,589
 1    U. Chicago  $77,556
 2      Columbia  $76,920
 3       Barnard  $75,524
 4          Duke  $75,031
 5       Scripps  $74,788
 6       Trinity  $74,400
 7           USC  $74,111
 8       U. Penn  $73,960
 9       Amherst  $73,950
 10   Georgetown  $73,882,
          College  Index
 0      UC-Irvine   1.90
 1    UC-SantaBar   1.61
 2       UC-Davis   1.60
 3   UC-San Diego   1.58
 4           UCLA   1.52
 5      U.Florida   1.46
 6        Amherst   1.44
 7         Pomona   1.43
 8    UC-Berkeley   1.38
 9        Harvard   1.36
 10        Vassar   1.36
 11      Williams   1.35
 12     Princeton   1.34
 13     Wellesley   1.32
 14      Stanford   1.31
 15          Knox   1.30
 16    UNC-Chapel   1.30
 17      Columbia   1.26
 18       Barnard   1.25
 19          Yale   1.22,
      College Students
 0       UCLA      19%
 1      Emory      16%
 2    Barnard      15%
 3        NYU      14%
 4     Vassar      14%
 5  Bryn Mawr      14%
 6        MIT      14%
 7   U. Miami      14%
 8   Brandeis      13%
 9  Wellesley      13%,
                                                    0  \
 0                                           ACT test
 1                            Content-based test[106]
 2                    Emphasizes higher math[81][106]
 3                              Longer questions[106]
 4               More popular in south & midwest[106]
 5                     Science reasoning section[106]
 6                  No penalty for wrong answers[107]
 7  Greater choice in selecting which scores to se...
 8     Difficult questions randomly interspersed[106]

                                                 1
 0                                        SAT test
 1                    Tests reasoning ability[106]
 2                  Emphasizes vocabulary[81][106]
 3                         Trickier questions[106]
 4                More popular in east & west[106]
 5                         Vocabulary section[106]
 6          No penalty for wrong answers[108][109]
 7                                   Fewer options
 8  Difficulty progresses within each section[106]  ,
                        School Appli cants Over all     ED     EA RD[191]  \
 0                Harvard[192]       57435    3.42%    NaN   7.4%   2.58%
 1               Columbia[193]       60551    3.66%  15.0%    NaN   2.78%
 2                Caltech[194]       13017    3.91%    NaN    NaN     NaN
 3               Stanford[195]       55471    3.95%    NaN    NaN     NaN
 4              Princeton[196]       37601    3.98%    NaN    NaN   3.98%
 5                    MIT[197]       33240     4.0%    NaN   4.8%   3.41%
 6                   Yale[198]       46905    4.62%    NaN  10.5%   3.42%
 7                  Brown[199]       46568    5.44%  15.9%    NaN    3.5%
 8                   Duke[200]       49517    5.76%  16.7%    NaN   4.28%
 9                  UPenn[201]       56333    5.68%  14.9%    NaN   4.15%
 10             Dartmouth[202]       28357    6.17%  22.1%    NaN    4.5%
 11  UChicago[citation needed]       37986    6.33%      -      -       -
 12        Pomona College[203]       11620    6.64%  12.8%      -   5.65%
 13                 Vanderbilt       47174    6.70%  18.1%    NaN    5.3%
 14          Northwestern[204]       47633    6.79%      -    NaN       -
 15            Swarthmore[205]     ~13,000    ~7.8%      -    NaN       -

     Unnamed: 6
 0          NaN
 1          NaN
 2          NaN
 3          NaN
 4          NaN
 5          NaN
 6          NaN
 7          NaN
 8          NaN
 9          NaN
 10         NaN
 11         NaN
 12         NaN
 13         NaN
 14         NaN
 15         NaN  ,
              College  Wait list offers Class  of 2021  \
 0           Stanford                              842
 1          Princeton                             1168
 2          Dartmouth                             2021
 3              UPenn                             3457
 4                CMC                              723
 5             Tulane                             5596
 6           Michigan                            11094
 7                UNC                             5097
 8           Wesleyan                             2267
 9                CMU                             5609
 10        Macalester                              356
 11      Cal Poly SLO                             3168
 12  UC Santa Barbara                             6650
 13      UC Riverside                             5499
 14        Holy Cross                             1109
 15            Oregon                              134

     Wait list admits Class  of 2021  Wait list offers Class  of 2022  \
 0                                36                              870
 1                               101                             1125
 2                                 0                             1925
 3                                58                             3535
 4                                 1                             1037
 5                                 0                            10384
 6                               468                            14893
 7                                35                             4977
 8                               108                             1965
 9                                 4                             3677
 10                              104                              426
 11                               15                             6643
 12                              960                             7856
 13                              321                            11058
 14                                0                             1581
 15                               73                              264

     Wait list admits Class  of 2022
 0                                30
 1                                 0
 2                                 0
 3                                 9
 4                                25
 5                                 2
 6                               415
 7                                22
 8                                 0
 9                               109
 10                                0
 11                             2436
 12                               14
 13                             1143
 14                                0
 15                               69  ]

Python programmers will often suggest that there many ways the language can be used to solve a particular problem. But that some are more appropriate than others. The best solutions are celebrated as Idiomatic Python and there are lots of great examples of this on StackOverflow and other websites.

A sort of sub-language within Python, Pandas has its own set of idioms. We've alluded to some of these already, such as using vectorization whenever possible, and not using iterative loops if you don't need to. Several developers and users within the Panda's community have used the term pandorable for these idioms. I think it's a great term. So, I wanted to share with you a couple of key features of how you can make your code pandorable.

In [11]:
import pandas as pd
import numpy as np
import timeit

df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [12]:
# The first of these is called method chaining.
# The general idea behind method chaining is that every method on an object 
# returns a reference to that object. The beauty of this is that you can 
# condense many different operations on a DataFrame, for instance, into one line 
# or at least one statement of code.
# Here's an example of two pieces of code in pandas using our census data.

# The first is the pandorable way to write the code with method chaining. In 
# this code, there's no in place flag being used and you can see that when we 
# first run a where query, then a dropna, then a set_index, and then a rename. 
# You might wonder why the whole statement is enclosed in parentheses and that's 
# just to make the statement more readable.
(df.where(df['SUMLEV']==50)
    .dropna()
    .set_index(['STNAME','CTYNAME'])
    .rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'}))

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County       50.0     3.0       6.0    1.0     1.0
        Baldwin County       50.0     3.0       6.0    1.0     3.0
        Barbour County       50.0     3.0       6.0    1.0     5.0
        Bibb County          50.0     3.0       6.0    1.0     7.0
        Blount County        50.0     3.0       6.0    1.0     9.0
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County    50.0     4.0       8.0   56.0    37.0
        Teton County         50.0     4.0       8.0   56.0    39.0
        Uinta County         50.0     4.0       8.0   56.0    41.0
        Washakie County      50.0     4.0       8.0   56.0    43.0
        Weston County        50.0     4.0       8.0   56.0    45.0

                           CENSUS2010POP  Estimates Base 2010  \
STNAME  CTYNAME
Alabama Autauga County           54571.0              54571.0
        Baldwin County          182265.0             182265.0
        Barbour County           27457.0              27457.0
        Bibb County              22915.0              22919.0
        Blount County            57322.0              57322.0
...                                  ...                  ...
Wyoming Sweetwater County        43806.0              43806.0
        Teton County             21294.0              21294.0
        Uinta County             21118.0              21118.0
        Washakie County           8533.0               8533.0
        Weston County             7208.0               7208.0

                           POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
STNAME  CTYNAME
Alabama Autauga County             54660.0          55253.0          55175.0
        Baldwin County            183193.0         186659.0         190396.0
        Barbour County             27341.0          27226.0          27159.0
        Bibb County                22861.0          22733.0          22642.0
        Blount County              57373.0          57711.0          57776.0
...                                    ...              ...              ...
Wyoming Sweetwater County          43593.0          44041.0          45104.0
        Teton County               21297.0          21482.0          21697.0
        Uinta County               21102.0          20912.0          20989.0
        Washakie County             8545.0           8469.0           8443.0
        Weston County               7181.0           7114.0           7065.0

                           ...  RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME            ...
Alabama Autauga County     ...          7.242091         -2.915927
        Baldwin County     ...         14.832960         17.647293
        Barbour County     ...         -4.728132         -2.500690
        Bibb County        ...         -5.527043         -5.068871
        Blount County      ...          1.807375         -1.177622
...                        ...               ...               ...
Wyoming Sweetwater County  ...          1.072643         16.243199
        Teton County       ...         -1.589565          0.972695
        Uinta County       ...        -17.755986         -4.916350
        Washakie County    ...        -11.637475         -0.827815
        Weston County      ...        -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

In [13]:
# The second example is a more traditional way of writing code.
# There's nothing wrong with this code in the functional sense,
# you might even be able to understand it better as a new person to the language.
# It's just not as pandorable as the first example.

df = df[df['SUMLEV']==50]
df.set_index(['STNAME','CTYNAME'], inplace=True)
df.rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'})

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County         50       3         6      1       1
        Baldwin County         50       3         6      1       3
        Barbour County         50       3         6      1       5
        Bibb County            50       3         6      1       7
        Blount County          50       3         6      1       9
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County      50       4         8     56      37
        Teton County           50       4         8     56      39
        Uinta County           50       4         8     56      41
        Washakie County        50       4         8     56      43
        Weston County          50       4         8     56      45

                           CENSUS2010POP  Estimates Base 2010  \
STNAME  CTYNAME
Alabama Autauga County             54571                54571
        Baldwin County            182265               182265
        Barbour County             27457                27457
        Bibb County                22915                22919
        Blount County              57322                57322
...                                  ...                  ...
Wyoming Sweetwater County          43806                43806
        Teton County               21294                21294
        Uinta County               21118                21118
        Washakie County             8533                 8533
        Weston County               7208                 7208

                           POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
STNAME  CTYNAME
Alabama Autauga County               54660            55253            55175
        Baldwin County              183193           186659           190396
        Barbour County               27341            27226            27159
        Bibb County                  22861            22733            22642
        Blount County                57373            57711            57776
...                                    ...              ...              ...
Wyoming Sweetwater County            43593            44041            45104
        Teton County                 21297            21482            21697
        Uinta County                 21102            20912            20989
        Washakie County               8545             8469             8443
        Weston County                 7181             7114             7065

                           ...  RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME            ...
Alabama Autauga County     ...          7.242091         -2.915927
        Baldwin County     ...         14.832960         17.647293
        Barbour County     ...         -4.728132         -2.500690
        Bibb County        ...         -5.527043         -5.068871
        Blount County      ...          1.807375         -1.177622
...                        ...               ...               ...
Wyoming Sweetwater County  ...          1.072643         16.243199
        Teton County       ...         -1.589565          0.972695
        Uinta County       ...        -17.755986         -4.916350
        Washakie County    ...        -11.637475         -0.827815
        Weston County      ...        -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

In [15]:
# Now, the key with any good idiom is to understand when it isn't helping you. 
# In this case, you can actually time both methods and see which one runs faster

# We can put the approach into a function and pass the function into the timeit 
# function to count the time the parameter number allows us to choose how many 
# times we want to run the function. Here we will just set it to 1

df = pd.read_csv('census.csv')

def first_approach():
    global df
    return (df.where(df['SUMLEV']==50)
             .dropna()
             .set_index(['STNAME','CTYNAME'])
             .rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'}))
    
timeit.timeit(first_approach, number=1)

0.07390679999662098

In [16]:
# Now let's test the second approach. As we notice, we use our global variable 
# df in the function. However, changing a global variable inside a function will 
# modify the variable even in a global scope and we do not want that to happen 
# in this case. Therefore, for selecting summary levels of 50 only, I create 
# a new dataframe for those records

# Let's run this for once and see how fast it is
df = pd.read_csv('census.csv')

def second_approach():
    global df
    new_df = df[df['SUMLEV']==50]
    new_df.set_index(['STNAME','CTYNAME'], inplace=True)
    return new_df.rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'})
timeit.timeit(second_approach, number=1)

0.014938499996787868

In [17]:
# As you can see, the second approach is much faster! 
# So, this is a particular example of a classic time readability trade off.

# You'll see lots of examples on stock overflow and in documentation of people 
# using method chaining in their pandas. And so, I think being able to read and 
# understand the syntax is really worth your time. 

# Here's another pandas idiom. Python has a wonderful function called map, 
# which is sort of a basis for functional programming in the language. 
# When you want to use map in Python, you pass it some function you want called, 
# and some iterable, like a list, that you want the function to be applied to. 
# The results are that the function is called against each item in the list,
# and there's a resulting list of all of the evaluations of that function.

# Python has a similar function called applymap.
# In applymap, you provide some function which should operate on each cell of a 
# DataFrame, and the return set is itself a DataFrame. Now I think applymap is 
# fine, but I actually rarely use it. Instead, I find myself often wanting to 
# map across all of the rows in a DataFrame. And pandas has a function that I 
# use heavily there, called apply. Let's look at an example.



# Let's take our census DataFrame. 
# In this DataFrame, we have five columns for population estimates. 
# Each column corresponding with one year of estimates. It's quite reasonable to 
# want to create some new columns for 
# minimum or maximum values, and the apply function is an easy way to do this.


# First, we need to write a function which takes in a particular row of data, 
# finds a minimum and maximum values, and returns a new row of data nd returns 
# a new row of data.  We'll call this function min_max, this is pretty straight 
# forward. We can create some small slice of a row by projecting the population 
# columns. Then use the NumPy min and max functions, and create a new series 
# with a label values represent the new values we want to apply.

def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})

In [18]:
# Then we just need to call apply on the DataFrame. 

# Apply takes the function and the axis on which to operate as parameters. 
# Now, we have to be a bit careful, we've talked about axis zero being the rows 
# of the DataFrame in the past. But this parameter is really the parameter of 
# the index to use. So, to apply across all rows, which is applying on all 
# columns, you pass axis equal to one.
df.apply(min_max, axis=1)

          min      max
0     4785161  4858979
1       54660    55347
2      183193   203709
3       26489    27341
4       22512    22861
...       ...      ...
3188    43593    45162
3189    21297    23125
3190    20822    21102
3191     8316     8545
3192     7065     7234

[3193 rows x 2 columns]

In [19]:
# Of course there's no need to limit yourself to returning a new series object. 
# If you're doing this as part of data cleaning your likely to find yourself 
# wanting to add new data to the existing DataFrame. In that case you just take 
# the row values and add in new columns indicating the max and minimum scores.
# This is a regular part of my workflow when bringing in data and building 
# summary or descriptive statistics. 
# And is often used heavily with the merging of DataFrames.

# Here we have a revised version of the function min_max
# Instead of returning a separate series to display the min and max
# We add two new columns in the original dataframe to store min and max

def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    row['max'] = np.max(data)
    row['min'] = np.min(data)
    return row
df.apply(min_max, axis=1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,max,min
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594,4858979,4785161
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333,55347,54660
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499,203709,183193
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299,27341,26489
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861,22861,22512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195,45162,43593
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747,23125,21297
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351,21102,20822
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961,8545,8316
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294,7234,7065

In [20]:
# Apply is an extremely important tool in your toolkit. The reason I introduced 
# apply here is because you rarely see it used with large function definitions, 
# like we did. Instead, you typically see it used with lambdas. To get the most 
# of the discussions you'll see online, you're going to need to know how to 
# at least read lambdas. 

# Here's You can imagine how you might chain several apply calls with lambdas 
# together to create a readable yet succinct data manipulation script. One line 
# example of how you might calculate the max of the columns 
# using the apply function. 
rows = ['POPESTIMATE2010',
        'POPESTIMATE2011',
        'POPESTIMATE2012',
        'POPESTIMATE2013',
        'POPESTIMATE2014',
        'POPESTIMATE2015']
df.apply(lambda x: np.max(x[rows]), axis=1)

0       4858979
1         55347
2        203709
3         27341
4         22861
         ...
3188      45162
3189      23125
3190      21102
3191       8545
3192       7234
Length: 3193, dtype: int64

In [21]:
# The beauty of the apply function is that it allows flexibility in doing 
# whatever manipulation that you desire, and the function you pass into apply 
# can be any customized function that you write. 

# Let's say we want to divide the 

# states into four categories: Northeast, Midwest, South, and West
# We can write a customized function that returns the region based on the state
# the state regions information is obtained from Wikipedia

def get_state_region(x):
    northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 
                 'Rhode Island','Vermont','New York','New Jersey','Pennsylvania']
    midwest = ['Illinois','Indiana','Michigan','Ohio','Wisconsin','Iowa',
               'Kansas','Minnesota','Missouri','Nebraska','North Dakota',
               'South Dakota']
    south = ['Delaware','Florida','Georgia','Maryland','North Carolina',
             'South Carolina','Virginia','District of Columbia','West Virginia',
             'Alabama','Kentucky','Mississippi','Tennessee','Arkansas',
             'Louisiana','Oklahoma','Texas']
    west = ['Arizona','Colorado','Idaho','Montana','Nevada','New Mexico','Utah',
            'Wyoming','Alaska','California','Hawaii','Oregon','Washington']
    
    if x in northeast:
        return "Northeast"
    elif x in midwest:
        return "Midwest"
    elif x in south:
        return "South"
    else:
        return "West"

In [22]:
# Now we have the customized function, let's say we want to create a new column
# called Region, which shows the state's region, we can use the customized 
# function and the apply function to do so. The customized function is supposed 
# to work on the state name column STNAME. So we will set the apply function on 
# the state name column and pass the customized function into the apply function
df['state_region'] = df['STNAME'].apply(lambda x: get_state_region(x))

In [23]:
# Now let's see the results
df[['STNAME','state_region']]

       STNAME state_region
0     Alabama        South
1     Alabama        South
2     Alabama        South
3     Alabama        South
4     Alabama        South
...       ...          ...
3188  Wyoming         West
3189  Wyoming         West
3190  Wyoming         West
3191  Wyoming         West
3192  Wyoming         West

[3193 rows x 2 columns]

So there are a couple of Pandas idioms. But I think there's many more, and I haven't talked about them here. So here's an unofficial assignment for you. Go look at some of the top ranked questions on pandas on Stack Overflow, and look at how some of the more experienced authors, answer those questions. Do you see any interesting patterns? Chime in on the course discussion forums and let's build some pandorable documents together.