In [2]:
# import libraries
import  sqlite3 as sql

In [ ]:
# Week 2: Relational Databases

In [ ]:
# Relational Databases:
# database: contains multiple tables
# relation/table: contains multiples tuples and attributes
# table(row): values/fields that represent an object or instance
# attribute(column): elements/features of an object

In [ ]:
# SQL functions:
# 1. create table 
# 2. read  data
# 3. update/insert date
# 3. delete data

In [ ]:
# Week 2: Using databases
# database model: structure or format (class) of a database
# databases systems:
# oracle: large, commercial
# mySQL: simple but fast and scalable - commercial open source
# SQLServer: Very nice

In [4]:
# Week 2: Example Couting Email in a Database

# make a connection to the database (SQL file)
conn = sql.connect('C:/AUXILIAR_DOCUMENTOS/Coursera/introduction_to_data_science/WORKSPACE/SQL databases/databases_with_python/Week 2 - Counting Email in a DataBase.sqbpro')

# SQL: execute commands from python to SQL (handle databases from python)
cur = conn.cursor()

# SQL: DROP TABLE IF EXISTS table,  drop table to initialize
cur.execute('DROP TABLE IF EXISTS Counts')


# SQL: CREATE TABLE new_table (dict  key VAL)
cur.execute('CREATE TABLE Counts (email TEXT, count INTEGER)')

#  user input filename
fname = input('Enter file name: ')

# if user didn't enter file name 
if(len(fname)<1): 
    fname = 'mbox-short.txt'

# open file
fh = open(fname) 

# iterate through lines in file
for line in fh:
    
    if not line.startswith('From: '):
        continue
    # split line into pieces
    pieces = line.split()
    # get email from piece
    email = pieces[1]
    
    print(email)
    
    # SQL: read table Counts, select key column=count, WHERE condition email = ?
    cur.execute('SELECT count FROM Counts WHERE  email = ?', (email,))
    
    # get first row from database
    row = cur.fetchone()
    
    # if there is NO row from database
    if row is None:
        # SQL: INSERT INTO  insert in table='Counts' keys=(key1,key2)  VALUES(val1,val2)
        # VALUES(?, 1), (email,)  ? se reemplaza con email
        cur.execute('INSERT INTO Counts (email,count) VALUES (?, 1)', (email,))
    
    # if there is values in row
    else:
        # SQL: UPDATE/EDIT edit table='Counts' SET key= new_val, WHERE key=val_cond
        cur.execute('UPDATE Counts SET count = count + 1 WHERE email = ?', (email,))
    
    # commit/execute SQL commands or methods to database  SQL
    conn.commit()

# SQL: read keys= email,count FROM table=Counts ORDER BY sort key=count  DESC LIMIT 10
sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

# close connection
cur.close()

DatabaseError: file is not a database

In [ ]:
#  Week 2: SQL basic commands

-- CREATE TABLE()

/* create a new table, table name and columns*/

/* CREATE TABLE new_table(
 key 1 VARCHAR(length)
 key 2 VARCHAR(length)
 key n VARCHAR(length)
 )
 */
 
 
 -- INSERT INTO()

/* insert into table given key=columns and values=val*/

-- INSERT INTO table_name(key1,key2,keyn) VALUES(val1,val2,valn)



-- DELETE FROM()

/* delete rows with condition  key=val */

/*  DELETE FROM table WHERE key='parameter'(condition)  */



-- UPDATE()

/* update table, SET action for key=value  WHERE a condition is satisfied */

/* UPDATE Users SET action key='new_val' WHERE key=val_cond */



-- SELECT*FROM()

/*  READ columns (or all *) table, WHERE condition is matched  */

/* SELECT columns (or all *) FROM Users WHERE key=val_cond */


 
 -- SELECT*FROM table ORDER BY key()

/*  READ columns (or all *) table, ORDER BY sort key=val  */

/* SELECT columns (or all *) FROM Users ORDER BY key=val */