# Pandas

# Librerias

In [3]:
# general
import numpy as np
import re
import pandas as pd
import os
import timeit


# visualización
import seaborn as sns
import matplotlib.pyplot as plt

plt.style.use('seaborn-colorblind')
#from data_exploration import explore

C:\Users\Diego\AppData\Local\Temp\ipykernel_10472\648857513.py:13: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-colorblind')

# List comprehension: for simplificado

obj= [action for x in obj]

# Numpy

## Numpy estructuras de datos

In [13]:
# Numpy 
# crear array
a = np.array([[1,2], [3, 4], [5, 6]])
# array extrayendo elementos de otro array
b = np.array([a[0, 0], a[1, 1], a[2, 1]])
# crear array, especificar tipo de estructura de dato
np.array([1, 2, 3, 4], dtype=np.float32)

array([1., 2., 3., 4.], dtype=float32)

In [14]:
# forma de array
shape1 = a.shape 

# tipo de items en array
type1 = a.dtype

# nombre de tipo de array
type_name1 = a.dtype.name

In [15]:
# crear array de 1s  3x5
ones = np.ones((3, 5), dtype=float)

# crear array de 0s 1x10
zeros=np.zeros(10, dtype=int)

# crear full array de valor fijo 3.14
full = np.full((3, 5), 3.14)
full

array([[3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14]])

## Numpy arange

In [16]:
# crear array en secuencia lineal
# start=0, end= 20, step=2
np.arange(0, 20, 2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [17]:
# crear array de valores separados igual
# start=0, stop= 1, num=2
np.linspace(0, 1, 5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [18]:
# crear array 3x3 distribucion uniforme random 
# pseudorandom values between 0 and 1
rand1 = np.random.random((3, 3))

# crear array 3x3 distribucion normal random
# values with mean 0 and standard deviation 1
# u=0,lamda=1
np.random.normal(0, 1, (3, 3))

array([[ 0.60895269,  0.97087613,  0.1947929 ],
       [-0.74179926,  0.93259533,  0.71334773],
       [ 0.66445643,  0.99096237,  0.76056889]])

In [19]:
# crear 3x3 matriz identidad
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [20]:
# Index y mascara bool
aplu5 = a>5
print(aplu5)
# 
map_aplu5=a[a>5]
print(map_aplu5)

[[False False]
 [False False]
 [False  True]]
[6]

## Indexing

Obtener elementos de objetos

In [21]:
a = np.array([1,3,5,7])
a

array([1, 3, 5, 7])

In [22]:

a[2]

5

In [23]:
# For multidimensional array, we need to use integer array indexing, let's create a new multidimensional array
a = np.array([[1,2], [3, 4], [5, 6]])
a

array([[1, 2],
       [3, 4],
       [5, 6]])

In [24]:
a[1,1] # remember in python we start at 0!

4

In [25]:
# if we want to get multiple elements 
# for example, 1, 4, and 6 and put them into a one-dimensional array
# we can enter the indices directly into an array function
np.array([a[0, 0], a[1, 1], a[2, 1]])

array([1, 4, 6])

In [26]:
# second list up
print(a[[0, 1, 2], [0, 1, 1]])

[1 4 6]

## Indexing Booleano

Obtener elementos de array por condicion

In [27]:
# This returns a boolean array showing that if the value at the corresponding index is greater than 5
print(a >5)

[[False False]
 [False False]
 [False  True]]

In [28]:
# array relating to the true values.
print(a[a>5])

[6]

## Slicing

Crear sub-arrays a partir del original

In [29]:
# Slicing
a = np.array([0,1,2,3,4,5])
a_03 = a[:4]
a_24 = a[2:4]

print(a_03)
print(a_24)

[0 1 2 3]
[2 3]

In [30]:
# brackets, we get elements from index 0 to index 3 (excluding index 3)
a = np.array([0,1,2,3,4,5])
print(a[:3])

[0 1 2]

In [31]:
# array multi-dimension
# array_n = np.array([ [],[],[]  ])
a = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
print(a)
print("")

# a_02 primeros 2 arrays dentro de n-array
a_02 = a[:2]
print(a_02)
print("")

a_02_13 = a[:2,1:3]
a_02_13
print(a_02_13)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

[[1 2 3 4]
 [5 6 7 8]]

[[2 3]
 [6 7]]

In [32]:
# los multi- arrays el primer argumento es para seleccionra filas
# el segundo argumento es para seleccionra columnas

In [33]:
# Here I'll change the element at position [0, 0], which is 2, to 50, then we can see that the value in the
# original array is changed to 50 as well

sub_array = a[:2, 1:3]
print("sub array index [0,0] value before change:", sub_array[0,0])
sub_array[0,0] = 50
print("sub array index [0,0] value after change:", sub_array[0,0])
print("original array index [0,1] value after change:", a[0,1])

sub array index [0,0] value before change: 2
sub array index [0,0] value after change: 50
original array index [0,1] value after change: 50

In [34]:
# Operaciones con arrays on aplicando elementwise.
# crear arrays
a = np.array([10,20,30,40])
b = np.array([1, 2, 3,4])

# restar arrays 
c = a-b
print(c)

# multiplicar arrays
d = a*b
print(d)

[ 9 18 27 36]
[ 10  40  90 160]

In [35]:
# crear arrays
A = np.array([[1,1],[0,1]])
B = np.array([[2,0],[3,4]])
# producto elementwise
C = A*B
print(A*B)

# producto punto (producto matricial)
C2=A@B
print(A@B)

[[2 0]
 [0 4]]
[[5 4]
 [3 4]]

In [36]:
# dimensiones de array
A.shape

(2, 2)

In [37]:
# concatenar listas
[1,2] + [3,2]

[1, 2, 3, 2]

In [38]:
# verificar si elemento esta en lista 
1 in [1,2,3,4]

True

## Operaciones con arrays

In [39]:
# crera arrays
array1 = np.array([[1, 2, 3], [4, 5, 6]])
print(array1)

# crear array de flotas
array2 = np.array([[7.1, 8.2, 9.1], [10.4, 11.2, 12.3]])
print(array2)

# sumar arrays
array3=array1+array2
print(array3)

[[1 2 3]
 [4 5 6]]
[[ 7.1  8.2  9.1]
 [10.4 11.2 12.3]]
[[ 8.1 10.2 12.1]
 [14.4 16.2 18.3]]

In [40]:
# funciones sum,max,min,mean(avg)
print("sumar elementos",array3.sum())
print("maximo de elementos en array",array3.max())
print("minimo de elementos en array",array3.min())
print("promedio de array",array3.mean())

sumar elementos 79.3
maximo de elementos en array 18.3
minimo de elementos en array 8.1
promedio de array 13.216666666666667

In [41]:
# Arithmetic operators on array apply elementwise.

# Let's create a couple of arrays
a = np.array([10,20,30,40])
b = np.array([1, 2, 3,4])

# Now let's look at a minus b
c = a-b
print(c)

# And let's look at a times b
d = a*b
print(d)

[ 9 18 27 36]
[ 10  40  90 160]

In [42]:
# Let's create an array of typical Ann Arbor winter farenheit values
farenheit = np.array([0,-10,-5,-15,0])

# And the formula for conversion is ((°F − 32) × 5/9 = °C)
celcius = (farenheit - 31) * (5/9)
celcius

array([-17.22222222, -22.77777778, -20.        , -25.55555556,
       -17.22222222])

In [43]:
# modulus operator para ver numeros pares divisibles por  2
celcius%2 == 0

array([False, False,  True, False, False])

In [44]:
# Let's create an array of integers
array1 = np.array([[1, 2, 3], [4, 5, 6]])
print(array1.dtype)

# Now let's create an array of floats
array2 = np.array([[7.1, 8.2, 9.1], [10.4, 11.2, 12.3]])
print(array2.dtype)

# Let's do an addition for the two arrays
array3=array1+array2
print(array3)
print(array3.dtype)

int32
float64
[[ 8.1 10.2 12.1]
 [14.4 16.2 18.3]]
float64

## Funciones de agregación

In [45]:
# funciones de agregación
print(array3.sum()) # suma 
print(array3.max()) # máximo
print(array3.min()) # mínimo
print(array3.mean()) # promedio

79.3
18.3
8.1
13.216666666666667

In [46]:
# For two dimensional arrays, we can do the same thing for each row or column
# let's create an array with 15 elements, ranging from 1 to 15, 
# with a dimension of 3X5
b = np.arange(1,16,1).reshape(3,5)
print(b)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]

## Diccionarios

{key:value}

In [47]:
# los diccionarios son listas que asocian keys con valores  'key': 'value'
# dic= {'key-n','value-n'}
dic1 = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
dic1['Christopher Brooks'] # obtener valor de un key

'brooksch@umich.edu'

In [48]:
dic1['Kevyn Collins-Thompson'] = None
dic1['Kevyn Collins-Thompson']
dic1

{'Christopher Brooks': 'brooksch@umich.edu',
 'Bill Gates': 'billg@microsoft.com',
 'Kevyn Collins-Thompson': None}

In [49]:
# iterar sobre keys de diccionario
for key in dic1.keys():
    print(key)

Christopher Brooks
Bill Gates
Kevyn Collins-Thompson

In [50]:
# iterar sobre valores de diccionario
for value in dic1.values():
    print(value)

brooksch@umich.edu
billg@microsoft.com
None

In [51]:
# iterar sobre items de la lista

for key,value in dic1.items():
    print('key:',key)
    print('value:',value)
    print("")

key: Christopher Brooks
value: brooksch@umich.edu

key: Bill Gates
value: billg@microsoft.com

key: Kevyn Collins-Thompson
value: None

## Numpy Datasets

In [52]:
# cargar base de vinos
wines = np.genfromtxt("data/winequality-red.csv", delimiter=";", skip_header=1)
wines

array([[ 7.4  ,  0.7  ,  0.   , ...,  0.56 ,  9.4  ,  5.   ],
       [ 7.8  ,  0.88 ,  0.   , ...,  0.68 ,  9.8  ,  5.   ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  0.65 ,  9.8  ,  5.   ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  0.75 , 11.   ,  6.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  0.71 , 10.2  ,  5.   ],
       [ 6.   ,  0.31 ,  0.47 , ...,  0.66 , 11.   ,  6.   ]])

In [53]:
wines_rows_0column1 = wines[:,0] # todas las filas, primera columna
wines_rows_0column2 = wines[:, 0:1] # todas las filas, primera columna(mantiene forma)
wines_rows_0column3 = wines[:,0:3] # todas las filas, columnas 0-2 (no incluye 3)
wines_rows_columns024 = wines[:,[0,2,4] ] # todas las filas, columnas 0,2,4

print(wines_rows_0column1)
print("")
print(wines_rows_0column2)
print("")
print(wines_rows_0column3)
print("")
print(wines_rows_columns024)

[7.4 7.8 7.8 ... 6.3 5.9 6. ]

[[7.4]
 [7.8]
 [7.8]
 ...
 [6.3]
 [5.9]
 [6. ]]

[[7.4   0.7   0.   ]
 [7.8   0.88  0.   ]
 [7.8   0.76  0.04 ]
 ...
 [6.3   0.51  0.13 ]
 [5.9   0.645 0.12 ]
 [6.    0.31  0.47 ]]

[[7.4   0.    0.076]
 [7.8   0.    0.098]
 [7.8   0.04  0.092]
 ...
 [6.3   0.13  0.076]
 [5.9   0.12  0.075]
 [6.    0.47  0.067]]

In [54]:
wines[:,-1] # todas las filas, última columna
prom1 = wines[:,-1].mean() # promedio de última columna
prom1

5.6360225140712945

In [55]:
# cargar base admission Dataset
graduate_admission = np.genfromtxt('data/Admission_Predict.csv', dtype=None, delimiter=',', skip_header=1,
                                   names=('Serial No','GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
                                          'LOR','CGPA','Research', 'Chance of Admit'))
graduate_admission

array([(  1, 337, 118, 4, 4.5, 4.5, 9.65, 1, 0.92),
       (  2, 324, 107, 4, 4. , 4.5, 8.87, 1, 0.76),
       (  3, 316, 104, 3, 3. , 3.5, 8.  , 1, 0.72),
       (  4, 322, 110, 3, 3.5, 2.5, 8.67, 1, 0.8 ),
       (  5, 314, 103, 2, 2. , 3. , 8.21, 0, 0.65),
       (  6, 330, 115, 5, 4.5, 3. , 9.34, 1, 0.9 ),
       (  7, 321, 109, 3, 3. , 4. , 8.2 , 1, 0.75),
       (  8, 308, 101, 2, 3. , 4. , 7.9 , 0, 0.68),
       (  9, 302, 102, 1, 2. , 1.5, 8.  , 0, 0.5 ),
       ( 10, 323, 108, 3, 3.5, 3. , 8.6 , 0, 0.45),
       ( 11, 325, 106, 3, 3.5, 4. , 8.4 , 1, 0.52),
       ( 12, 327, 111, 4, 4. , 4.5, 9.  , 1, 0.84),
       ( 13, 328, 112, 4, 4. , 4.5, 9.1 , 1, 0.78),
       ( 14, 307, 109, 3, 4. , 3. , 8.  , 1, 0.62),
       ( 15, 311, 104, 3, 3.5, 2. , 8.2 , 1, 0.61),
       ( 16, 314, 105, 3, 3.5, 2.5, 8.3 , 0, 0.54),
       ( 17, 317, 107, 3, 4. , 3. , 8.7 , 0, 0.66),
       ( 18, 319, 106, 3, 4. , 3. , 8.  , 1, 0.65),
       ( 19, 318, 110, 3, 4. , 3. , 8.8 , 0, 0.63),
       ( 20, 303, 102, 3, 3.5, 3. , 8.5 , 0, 0.62),
       ( 21, 312, 107, 3, 3. , 2. , 7.9 , 1, 0.64),
       ( 22, 325, 114, 4, 3. , 2. , 8.4 , 0, 0.7 ),
       ( 23, 328, 116, 5, 5. , 5. , 9.5 , 1, 0.94),
       ( 24, 334, 119, 5, 5. , 4.5, 9.7 , 1, 0.95),
       ( 25, 336, 119, 5, 4. , 3.5, 9.8 , 1, 0.97),
       ( 26, 340, 120, 5, 4.5, 4.5, 9.6 , 1, 0.94),
       ( 27, 322, 109, 5, 4.5, 3.5, 8.8 , 0, 0.76),
       ( 28, 298,  98, 2, 1.5, 2.5, 7.5 , 1, 0.44),
       ( 29, 295,  93, 1, 2. , 2. , 7.2 , 0, 0.46),
       ( 30, 310,  99, 2, 1.5, 2. , 7.3 , 0, 0.54),
       ( 31, 300,  97, 2, 3. , 3. , 8.1 , 1, 0.65),
       ( 32, 327, 103, 3, 4. , 4. , 8.3 , 1, 0.74),
       ( 33, 338, 118, 4, 3. , 4.5, 9.4 , 1, 0.91),
       ( 34, 340, 114, 5, 4. , 4. , 9.6 , 1, 0.9 ),
       ( 35, 331, 112, 5, 4. , 5. , 9.8 , 1, 0.94),
       ( 36, 320, 110, 5, 5. , 5. , 9.2 , 1, 0.88),
       ( 37, 299, 106, 2, 4. , 4. , 8.4 , 0, 0.64),
       ( 38, 300, 105, 1, 1. , 2. , 7.8 , 0, 0.58),
       ( 39, 304, 105, 1, 3. , 1.5, 7.5 , 0, 0.52),
       ( 40, 307, 108, 2, 4. , 3.5, 7.7 , 0, 0.48),
       ( 41, 308, 110, 3, 3.5, 3. , 8.  , 1, 0.46),
       ( 42, 316, 105, 2, 2.5, 2.5, 8.2 , 1, 0.49),
       ( 43, 313, 107, 2, 2.5, 2. , 8.5 , 1, 0.53),
       ( 44, 332, 117, 4, 4.5, 4. , 9.1 , 0, 0.87),
       ( 45, 326, 113, 5, 4.5, 4. , 9.4 , 1, 0.91),
       ( 46, 322, 110, 5, 5. , 4. , 9.1 , 1, 0.88),
       ( 47, 329, 114, 5, 4. , 5. , 9.3 , 1, 0.86),
       ( 48, 339, 119, 5, 4.5, 4. , 9.7 , 0, 0.89),
       ( 49, 321, 110, 3, 3.5, 5. , 8.85, 1, 0.82),
       ( 50, 327, 111, 4, 3. , 4. , 8.4 , 1, 0.78),
       ( 51, 313,  98, 3, 2.5, 4.5, 8.3 , 1, 0.76),
       ( 52, 312, 100, 2, 1.5, 3.5, 7.9 , 1, 0.56),
       ( 53, 334, 116, 4, 4. , 3. , 8.  , 1, 0.78),
       ( 54, 324, 112, 4, 4. , 2.5, 8.1 , 1, 0.72),
       ( 55, 322, 110, 3, 3. , 3.5, 8.  , 0, 0.7 ),
       ( 56, 320, 103, 3, 3. , 3. , 7.7 , 0, 0.64),
       ( 57, 316, 102, 3, 2. , 3. , 7.4 , 0, 0.64),
       ( 58, 298,  99, 2, 4. , 2. , 7.6 , 0, 0.46),
       ( 59, 300,  99, 1, 3. , 2. , 6.8 , 1, 0.36),
       ( 60, 311, 104, 2, 2. , 2. , 8.3 , 0, 0.42),
       ( 61, 309, 100, 2, 3. , 3. , 8.1 , 0, 0.48),
       ( 62, 307, 101, 3, 4. , 3. , 8.2 , 0, 0.47),
       ( 63, 304, 105, 2, 3. , 3. , 8.2 , 1, 0.54),
       ( 64, 315, 107, 2, 4. , 3. , 8.5 , 1, 0.56),
       ( 65, 325, 111, 3, 3. , 3.5, 8.7 , 0, 0.52),
       ( 66, 325, 112, 4, 3.5, 3.5, 8.92, 0, 0.55),
       ( 67, 327, 114, 3, 3. , 3. , 9.02, 0, 0.61),
       ( 68, 316, 107, 2, 3.5, 3.5, 8.64, 1, 0.57),
       ( 69, 318, 109, 3, 3.5, 4. , 9.22, 1, 0.68),
       ( 70, 328, 115, 4, 4.5, 4. , 9.16, 1, 0.78),
       ( 71, 332, 118, 5, 5. , 5. , 9.64, 1, 0.94),
       ( 72, 336, 112, 5, 5. , 5. , 9.76, 1, 0.96),
       ( 73, 321, 111, 5, 5. , 5. , 9.45, 1, 0.93),
       ( 74, 314, 108, 4, 4.5, 4. , 9.04, 1, 0.84),
       ( 75, 314, 106, 3, 3. , 5. , 8.9 , 0, 0.74),
       ( 76, 329, 114, 2, 2. , 4. , 8.56, 1, 0.72),
       ( 77, 327, 112, 3, 3. , 3. , 8.72, 1, 0.74),
       ( 78, 301,  99, 2, 3. , 2. , 8.22, 0, 0.64),
       ( 79, 296,  95, 2, 3. , 2. , 7.54, 1, 0.44),
       ( 80, 294,  93, 1, 1.5, 2. , 7.36, 0, 0.46),
       ( 81, 312, 105, 3, 2. , 3. , 8.02, 1, 0.5 ),
       ( 82, 340, 120, 4, 5. , 5. , 9.5 , 1, 0.96),
       ( 83, 320, 110, 5, 5. , 4.5, 9.22, 1, 0.92),
       ( 84, 322, 115, 5, 4. , 4.5, 9.36, 1, 0.92),
       ( 85, 340, 115, 5, 4.5, 4.5, 9.45, 1, 0.94),
       ( 86, 319, 103, 4, 4.5, 3.5, 8.66, 0, 0.76),
       ( 87, 315, 106, 3, 4.5, 3.5, 8.42, 0, 0.72),
       ( 88, 317, 107, 2, 3.5, 3. , 8.28, 0, 0.66),
       ( 89, 314, 108, 3, 4.5, 3.5, 8.14, 0, 0.64),
       ( 90, 316, 109, 4, 4.5, 3.5, 8.76, 1, 0.74),
       ( 91, 318, 106, 2, 4. , 4. , 7.92, 1, 0.64),
       ( 92, 299,  97, 3, 5. , 3.5, 7.66, 0, 0.38),
       ( 93, 298,  98, 2, 4. , 3. , 8.03, 0, 0.34),
       ( 94, 301,  97, 2, 3. , 3. , 7.88, 1, 0.44),
       ( 95, 303,  99, 3, 2. , 2.5, 7.66, 0, 0.36),
       ( 96, 304, 100, 4, 1.5, 2.5, 7.84, 0, 0.42),
       ( 97, 306, 100, 2, 3. , 3. , 8.  , 0, 0.48),
       ( 98, 331, 120, 3, 4. , 4. , 8.96, 1, 0.86),
       ( 99, 332, 119, 4, 5. , 4.5, 9.24, 1, 0.9 ),
       (100, 323, 113, 3, 4. , 4. , 8.88, 1, 0.79),
       (101, 322, 107, 3, 3.5, 3.5, 8.46, 1, 0.71),
       (102, 312, 105, 2, 2.5, 3. , 8.12, 0, 0.64),
       (103, 314, 106, 2, 4. , 3.5, 8.25, 0, 0.62),
       (104, 317, 104, 2, 4.5, 4. , 8.47, 0, 0.57),
       (105, 326, 112, 3, 3.5, 3. , 9.05, 1, 0.74),
       (106, 316, 110, 3, 4. , 4.5, 8.78, 1, 0.69),
       (107, 329, 111, 4, 4.5, 4.5, 9.18, 1, 0.87),
       (108, 338, 117, 4, 3.5, 4.5, 9.46, 1, 0.91),
       (109, 331, 116, 5, 5. , 5. , 9.38, 1, 0.93),
       (110, 304, 103, 5, 5. , 4. , 8.64, 0, 0.68),
       (111, 305, 108, 5, 3. , 3. , 8.48, 0, 0.61),
       (112, 321, 109, 4, 4. , 4. , 8.68, 1, 0.69),
       (113, 301, 107, 3, 3.5, 3.5, 8.34, 1, 0.62),
       (114, 320, 110, 2, 4. , 3.5, 8.56, 0, 0.72),
       (115, 311, 105, 3, 3.5, 3. , 8.45, 1, 0.59),
       (116, 310, 106, 4, 4.5, 4.5, 9.04, 1, 0.66),
       (117, 299, 102, 3, 4. , 3.5, 8.62, 0, 0.56),
       (118, 290, 104, 4, 2. , 2.5, 7.46, 0, 0.45),
       (119, 296,  99, 2, 3. , 3.5, 7.28, 0, 0.47),
       (120, 327, 104, 5, 3. , 3.5, 8.84, 1, 0.71),
       (121, 335, 117, 5, 5. , 5. , 9.56, 1, 0.94),
       (122, 334, 119, 5, 4.5, 4.5, 9.48, 1, 0.94),
       (123, 310, 106, 4, 1.5, 2.5, 8.36, 0, 0.57),
       (124, 308, 108, 3, 3.5, 3.5, 8.22, 0, 0.61),
       (125, 301, 106, 4, 2.5, 3. , 8.47, 0, 0.57),
       (126, 300, 100, 3, 2. , 3. , 8.66, 1, 0.64),
       (127, 323, 113, 3, 4. , 3. , 9.32, 1, 0.85),
       (128, 319, 112, 3, 2.5, 2. , 8.71, 1, 0.78),
       (129, 326, 112, 3, 3.5, 3. , 9.1 , 1, 0.84),
       (130, 333, 118, 5, 5. , 5. , 9.35, 1, 0.92),
       (131, 339, 114, 5, 4. , 4.5, 9.76, 1, 0.96),
       (132, 303, 105, 5, 5. , 4.5, 8.65, 0, 0.77),
       (133, 309, 105, 5, 3.5, 3.5, 8.56, 0, 0.71),
       (134, 323, 112, 5, 4. , 4.5, 8.78, 0, 0.79),
       (135, 333, 113, 5, 4. , 4. , 9.28, 1, 0.89),
       (136, 314, 109, 4, 3.5, 4. , 8.77, 1, 0.82),
       (137, 312, 103, 3, 5. , 4. , 8.45, 0, 0.76),
       (138, 316, 100, 2, 1.5, 3. , 8.16, 1, 0.71),
       (139, 326, 116, 2, 4.5, 3. , 9.08, 1, 0.8 ),
       (140, 318, 109, 1, 3.5, 3.5, 9.12, 0, 0.78),
       (141, 329, 110, 2, 4. , 3. , 9.15, 1, 0.84),
       (142, 332, 118, 2, 4.5, 3.5, 9.36, 1, 0.9 ),
       (143, 331, 115, 5, 4. , 3.5, 9.44, 1, 0.92),
       (144, 340, 120, 4, 4.5, 4. , 9.92, 1, 0.97),
       (145, 325, 112, 2, 3. , 3.5, 8.96, 1, 0.8 ),
       (146, 320, 113, 2, 2. , 2.5, 8.64, 1, 0.81),
       (147, 315, 105, 3, 2. , 2.5, 8.48, 0, 0.75),
       (148, 326, 114, 3, 3. , 3. , 9.11, 1, 0.83),
       (149, 339, 116, 4, 4. , 3.5, 9.8 , 1, 0.96),
       (150, 311, 106, 2, 3.5, 3. , 8.26, 1, 0.79),
       (151, 334, 114, 4, 4. , 4. , 9.43, 1, 0.93),
       (152, 332, 116, 5, 5. , 5. , 9.28, 1, 0.94),
       (153, 321, 112, 5, 5. , 5. , 9.06, 1, 0.86),
       (154, 324, 105, 3, 3. , 4. , 8.75, 0, 0.79),
       (155, 326, 108, 3, 3. , 3.5, 8.89, 0, 0.8 ),
       (156, 312, 109, 3, 3. , 3. , 8.69, 0, 0.77),
       (157, 315, 105, 3, 2. , 2.5, 8.34, 0, 0.7 ),
       (158, 309, 104, 2, 2. , 2.5, 8.26, 0, 0.65),
       (159, 306, 106, 2, 2. , 2.5, 8.14, 0, 0.61),
       (160, 297, 100, 1, 1.5, 2. , 7.9 , 0, 0.52),
       (161, 315, 103, 1, 1.5, 2. , 7.86, 0, 0.57),
       (162, 298,  99, 1, 1.5, 3. , 7.46, 0, 0.53),
       (163, 318, 109, 3, 3. , 3. , 8.5 , 0, 0.67),
       (164, 317, 105, 3, 3.5, 3. , 8.56, 0, 0.68),
       (165, 329, 111, 4, 4.5, 4. , 9.01, 1, 0.81),
       (166, 322, 110, 5, 4.5, 4. , 8.97, 0, 0.78),
       (167, 302, 102, 3, 3.5, 5. , 8.33, 0, 0.65),
       (168, 313, 102, 3, 2. , 3. , 8.27, 0, 0.64),
       (169, 293,  97, 2, 2. , 4. , 7.8 , 1, 0.64),
       (170, 311,  99, 2, 2.5, 3. , 7.98, 0, 0.65),
       (171, 312, 101, 2, 2.5, 3.5, 8.04, 1, 0.68),
       (172, 334, 117, 5, 4. , 4.5, 9.07, 1, 0.89),
       (173, 322, 110, 4, 4. , 5. , 9.13, 1, 0.86),
       (174, 323, 113, 4, 4. , 4.5, 9.23, 1, 0.89),
       (175, 321, 111, 4, 4. , 4. , 8.97, 1, 0.87),
       (176, 320, 111, 4, 4.5, 3.5, 8.87, 1, 0.85),
       (177, 329, 119, 4, 4.5, 4.5, 9.16, 1, 0.9 ),
       (178, 319, 110, 3, 3.5, 3.5, 9.04, 0, 0.82),
       (179, 309, 108, 3, 2.5, 3. , 8.12, 0, 0.72),
       (180, 307, 102, 3, 3. , 3. , 8.27, 0, 0.73),
       (181, 300, 104, 3, 3.5, 3. , 8.16, 0, 0.71),
       (182, 305, 107, 2, 2.5, 2.5, 8.42, 0, 0.71),
       (183, 299, 100, 2, 3. , 3.5, 7.88, 0, 0.68),
       (184, 314, 110, 3, 4. , 4. , 8.8 , 0, 0.75),
       (185, 316, 106, 2, 2.5, 4. , 8.32, 0, 0.72),
       (186, 327, 113, 4, 4.5, 4.5, 9.11, 1, 0.89),
       (187, 317, 107, 3, 3.5, 3. , 8.68, 1, 0.84),
       (188, 335, 118, 5, 4.5, 3.5, 9.44, 1, 0.93),
       (189, 331, 115, 5, 4.5, 3.5, 9.36, 1, 0.93),
       (190, 324, 112, 5, 5. , 5. , 9.08, 1, 0.88),
       (191, 324, 111, 5, 4.5, 4. , 9.16, 1, 0.9 ),
       (192, 323, 110, 5, 4. , 5. , 8.98, 1, 0.87),
       (193, 322, 114, 5, 4.5, 4. , 8.94, 1, 0.86),
       (194, 336, 118, 5, 4.5, 5. , 9.53, 1, 0.94),
       (195, 316, 109, 3, 3.5, 3. , 8.76, 0, 0.77),
       (196, 307, 107, 2, 3. , 3.5, 8.52, 1, 0.78),
       (197, 306, 105, 2, 3. , 2.5, 8.26, 0, 0.73),
       (198, 310, 106, 2, 3.5, 2.5, 8.33, 0, 0.73),
       (199, 311, 104, 3, 4.5, 4.5, 8.43, 0, 0.7 ),
       (200, 313, 107, 3, 4. , 4.5, 8.69, 0, 0.72),
       (201, 317, 103, 3, 2.5, 3. , 8.54, 1, 0.73),
       (202, 315, 110, 2, 3.5, 3. , 8.46, 1, 0.72),
       (203, 340, 120, 5, 4.5, 4.5, 9.91, 1, 0.97),
       (204, 334, 120, 5, 4. , 5. , 9.87, 1, 0.97),
       (205, 298, 105, 3, 3.5, 4. , 8.54, 0, 0.69),
       (206, 295,  99, 2, 2.5, 3. , 7.65, 0, 0.57),
       (207, 315,  99, 2, 3.5, 3. , 7.89, 0, 0.63),
       (208, 310, 102, 3, 3.5, 4. , 8.02, 1, 0.66),
       (209, 305, 106, 2, 3. , 3. , 8.16, 0, 0.64),
       (210, 301, 104, 3, 3.5, 4. , 8.12, 1, 0.68),
       (211, 325, 108, 4, 4.5, 4. , 9.06, 1, 0.79),
       (212, 328, 110, 4, 5. , 4. , 9.14, 1, 0.82),
       (213, 338, 120, 4, 5. , 5. , 9.66, 1, 0.95),
       (214, 333, 119, 5, 5. , 4.5, 9.78, 1, 0.96),
       (215, 331, 117, 4, 4.5, 5. , 9.42, 1, 0.94),
       (216, 330, 116, 5, 5. , 4.5, 9.36, 1, 0.93),
       (217, 322, 112, 4, 4.5, 4.5, 9.26, 1, 0.91),
       (218, 321, 109, 4, 4. , 4. , 9.13, 1, 0.85),
       (219, 324, 110, 4, 3. , 3.5, 8.97, 1, 0.84),
       (220, 312, 104, 3, 3.5, 3.5, 8.42, 0, 0.74),
       (221, 313, 103, 3, 4. , 4. , 8.75, 0, 0.76),
       (222, 316, 110, 3, 3.5, 4. , 8.56, 0, 0.75),
       (223, 324, 113, 4, 4.5, 4. , 8.79, 0, 0.76),
       (224, 308, 109, 2, 3. , 4. , 8.45, 0, 0.71),
       (225, 305, 105, 2, 3. , 2. , 8.23, 0, 0.67),
       (226, 296,  99, 2, 2.5, 2.5, 8.03, 0, 0.61),
       (227, 306, 110, 2, 3.5, 4. , 8.45, 0, 0.63),
       (228, 312, 110, 2, 3.5, 3. , 8.53, 0, 0.64),
       (229, 318, 112, 3, 4. , 3.5, 8.67, 0, 0.71),
       (230, 324, 111, 4, 3. , 3. , 9.01, 1, 0.82),
       (231, 313, 104, 3, 4. , 4.5, 8.65, 0, 0.73),
       (232, 319, 106, 3, 3.5, 2.5, 8.33, 1, 0.74),
       (233, 312, 107, 2, 2.5, 3.5, 8.27, 0, 0.69),
       (234, 304, 100, 2, 2.5, 3.5, 8.07, 0, 0.64),
       (235, 330, 113, 5, 5. , 4. , 9.31, 1, 0.91),
       (236, 326, 111, 5, 4.5, 4. , 9.23, 1, 0.88),
       (237, 325, 112, 4, 4. , 4.5, 9.17, 1, 0.85),
       (238, 329, 114, 5, 4.5, 5. , 9.19, 1, 0.86),
       (239, 310, 104, 3, 2. , 3.5, 8.37, 0, 0.7 ),
       (240, 299, 100, 1, 1.5, 2. , 7.89, 0, 0.59),
       (241, 296, 101, 1, 2.5, 3. , 7.68, 0, 0.6 ),
       (242, 317, 103, 2, 2.5, 2. , 8.15, 0, 0.65),
       (243, 324, 115, 3, 3.5, 3. , 8.76, 1, 0.7 ),
       (244, 325, 114, 3, 3.5, 3. , 9.04, 1, 0.76),
       (245, 314, 107, 2, 2.5, 4. , 8.56, 0, 0.63),
       (246, 328, 110, 4, 4. , 2.5, 9.02, 1, 0.81),
       (247, 316, 105, 3, 3. , 3.5, 8.73, 0, 0.72),
       (248, 311, 104, 2, 2.5, 3.5, 8.48, 0, 0.71),
       (249, 324, 110, 3, 3.5, 4. , 8.87, 1, 0.8 ),
       (250, 321, 111, 3, 3.5, 4. , 8.83, 1, 0.77),
       (251, 320, 104, 3, 3. , 2.5, 8.57, 1, 0.74),
       (252, 316,  99, 2, 2.5, 3. , 9.  , 0, 0.7 ),
       (253, 318, 100, 2, 2.5, 3.5, 8.54, 1, 0.71),
       (254, 335, 115, 4, 4.5, 4.5, 9.68, 1, 0.93),
       (255, 321, 114, 4, 4. , 5. , 9.12, 0, 0.85),
       (256, 307, 110, 4, 4. , 4.5, 8.37, 0, 0.79),
       (257, 309,  99, 3, 4. , 4. , 8.56, 0, 0.76),
       (258, 324, 100, 3, 4. , 5. , 8.64, 1, 0.78),
       (259, 326, 102, 4, 5. , 5. , 8.76, 1, 0.77),
       (260, 331, 119, 4, 5. , 4.5, 9.34, 1, 0.9 ),
       (261, 327, 108, 5, 5. , 3.5, 9.13, 1, 0.87),
       (262, 312, 104, 3, 3.5, 4. , 8.09, 0, 0.71),
       (263, 308, 103, 2, 2.5, 4. , 8.36, 1, 0.7 ),
       (264, 324, 111, 3, 2.5, 1.5, 8.79, 1, 0.7 ),
       (265, 325, 110, 2, 3. , 2.5, 8.76, 1, 0.75),
       (266, 313, 102, 3, 2.5, 2.5, 8.68, 0, 0.71),
       (267, 312, 105, 2, 2. , 2.5, 8.45, 0, 0.72),
       (268, 314, 107, 3, 3. , 3.5, 8.17, 1, 0.73),
       (269, 327, 113, 4, 4.5, 5. , 9.14, 0, 0.83),
       (270, 308, 108, 4, 4.5, 5. , 8.34, 0, 0.77),
       (271, 306, 105, 2, 2.5, 3. , 8.22, 1, 0.72),
       (272, 299,  96, 2, 1.5, 2. , 7.86, 0, 0.54),
       (273, 294,  95, 1, 1.5, 1.5, 7.64, 0, 0.49),
       (274, 312,  99, 1, 1. , 1.5, 8.01, 1, 0.52),
       (275, 315, 100, 1, 2. , 2.5, 7.95, 0, 0.58),
       (276, 322, 110, 3, 3.5, 3. , 8.96, 1, 0.78),
       (277, 329, 113, 5, 5. , 4.5, 9.45, 1, 0.89),
       (278, 320, 101, 2, 2.5, 3. , 8.62, 0, 0.7 ),
       (279, 308, 103, 2, 3. , 3.5, 8.49, 0, 0.66),
       (280, 304, 102, 2, 3. , 4. , 8.73, 0, 0.67),
       (281, 311, 102, 3, 4.5, 4. , 8.64, 1, 0.68),
       (282, 317, 110, 3, 4. , 4.5, 9.11, 1, 0.8 ),
       (283, 312, 106, 3, 4. , 3.5, 8.79, 1, 0.81),
       (284, 321, 111, 3, 2.5, 3. , 8.9 , 1, 0.8 ),
       (285, 340, 112, 4, 5. , 4.5, 9.66, 1, 0.94),
       (286, 331, 116, 5, 4. , 4. , 9.26, 1, 0.93),
       (287, 336, 118, 5, 4.5, 4. , 9.19, 1, 0.92),
       (288, 324, 114, 5, 5. , 4.5, 9.08, 1, 0.89),
       (289, 314, 104, 4, 5. , 5. , 9.02, 0, 0.82),
       (290, 313, 109, 3, 4. , 3.5, 9.  , 0, 0.79),
       (291, 307, 105, 2, 2.5, 3. , 7.65, 0, 0.58),
       (292, 300, 102, 2, 1.5, 2. , 7.87, 0, 0.56),
       (293, 302,  99, 2, 1. , 2. , 7.97, 0, 0.56),
       (294, 312,  98, 1, 3.5, 3. , 8.18, 1, 0.64),
       (295, 316, 101, 2, 2.5, 2. , 8.32, 1, 0.61),
       (296, 317, 100, 2, 3. , 2.5, 8.57, 0, 0.68),
       (297, 310, 107, 3, 3.5, 3.5, 8.67, 0, 0.76),
       (298, 320, 120, 3, 4. , 4.5, 9.11, 0, 0.86),
       (299, 330, 114, 3, 4.5, 4.5, 9.24, 1, 0.9 ),
       (300, 305, 112, 3, 3. , 3.5, 8.65, 0, 0.71),
       (301, 309, 106, 2, 2.5, 2.5, 8.  , 0, 0.62),
       (302, 319, 108, 2, 2.5, 3. , 8.76, 0, 0.66),
       (303, 322, 105, 2, 3. , 3. , 8.45, 1, 0.65),
       (304, 323, 107, 3, 3.5, 3.5, 8.55, 1, 0.73),
       (305, 313, 106, 2, 2.5, 2. , 8.43, 0, 0.62),
       (306, 321, 109, 3, 3.5, 3.5, 8.8 , 1, 0.74),
       (307, 323, 110, 3, 4. , 3.5, 9.1 , 1, 0.79),
       (308, 325, 112, 4, 4. , 4. , 9.  , 1, 0.8 ),
       (309, 312, 108, 3, 3.5, 3. , 8.53, 0, 0.69),
       (310, 308, 110, 4, 3.5, 3. , 8.6 , 0, 0.7 ),
       (311, 320, 104, 3, 3. , 3.5, 8.74, 1, 0.76),
       (312, 328, 108, 4, 4.5, 4. , 9.18, 1, 0.84),
       (313, 311, 107, 4, 4.5, 4.5, 9.  , 1, 0.78),
       (314, 301, 100, 3, 3.5, 3. , 8.04, 0, 0.67),
       (315, 305, 105, 2, 3. , 4. , 8.13, 0, 0.66),
       (316, 308, 104, 2, 2.5, 3. , 8.07, 0, 0.65),
       (317, 298, 101, 2, 1.5, 2. , 7.86, 0, 0.54),
       (318, 300,  99, 1, 1. , 2.5, 8.01, 0, 0.58),
       (319, 324, 111, 3, 2.5, 2. , 8.8 , 1, 0.79),
       (320, 327, 113, 4, 3.5, 3. , 8.69, 1, 0.8 ),
       (321, 317, 106, 3, 4. , 3.5, 8.5 , 1, 0.75),
       (322, 323, 104, 3, 4. , 4. , 8.44, 1, 0.73),
       (323, 314, 107, 2, 2.5, 4. , 8.27, 0, 0.72),
       (324, 305, 102, 2, 2. , 2.5, 8.18, 0, 0.62),
       (325, 315, 104, 3, 3. , 2.5, 8.33, 0, 0.67),
       (326, 326, 116, 3, 3.5, 4. , 9.14, 1, 0.81),
       (327, 299, 100, 3, 2. , 2. , 8.02, 0, 0.63),
       (328, 295, 101, 2, 2.5, 2. , 7.86, 0, 0.69),
       (329, 324, 112, 4, 4. , 3.5, 8.77, 1, 0.8 ),
       (330, 297,  96, 2, 2.5, 1.5, 7.89, 0, 0.43),
       (331, 327, 113, 3, 3.5, 3. , 8.66, 1, 0.8 ),
       (332, 311, 105, 2, 3. , 2. , 8.12, 1, 0.73),
       (333, 308, 106, 3, 3.5, 2.5, 8.21, 1, 0.75),
       (334, 319, 108, 3, 3. , 3.5, 8.54, 1, 0.71),
       (335, 312, 107, 4, 4.5, 4. , 8.65, 1, 0.73),
       (336, 325, 111, 4, 4. , 4.5, 9.11, 1, 0.83),
       (337, 319, 110, 3, 3. , 2.5, 8.79, 0, 0.72),
       (338, 332, 118, 5, 5. , 5. , 9.47, 1, 0.94),
       (339, 323, 108, 5, 4. , 4. , 8.74, 1, 0.81),
       (340, 324, 107, 5, 3.5, 4. , 8.66, 1, 0.81),
       (341, 312, 107, 3, 3. , 3. , 8.46, 1, 0.75),
       (342, 326, 110, 3, 3.5, 3.5, 8.76, 1, 0.79),
       (343, 308, 106, 3, 3. , 3. , 8.24, 0, 0.58),
       (344, 305, 103, 2, 2.5, 3.5, 8.13, 0, 0.59),
       (345, 295,  96, 2, 1.5, 2. , 7.34, 0, 0.47),
       (346, 316,  98, 1, 1.5, 2. , 7.43, 0, 0.49),
       (347, 304,  97, 2, 1.5, 2. , 7.64, 0, 0.47),
       (348, 299,  94, 1, 1. , 1. , 7.34, 0, 0.42),
       (349, 302,  99, 1, 2. , 2. , 7.25, 0, 0.57),
       (350, 313, 101, 3, 2.5, 3. , 8.04, 0, 0.62),
       (351, 318, 107, 3, 3. , 3.5, 8.27, 1, 0.74),
       (352, 325, 110, 4, 3.5, 4. , 8.67, 1, 0.73),
       (353, 303, 100, 2, 3. , 3.5, 8.06, 1, 0.64),
       (354, 300, 102, 3, 3.5, 2.5, 8.17, 0, 0.63),
       (355, 297,  98, 2, 2.5, 3. , 7.67, 0, 0.59),
       (356, 317, 106, 2, 2. , 3.5, 8.12, 0, 0.73),
       (357, 327, 109, 3, 3.5, 4. , 8.77, 1, 0.79),
       (358, 301, 104, 2, 3.5, 3.5, 7.89, 1, 0.68),
       (359, 314, 105, 2, 2.5, 2. , 7.64, 0, 0.7 ),
       (360, 321, 107, 2, 2. , 1.5, 8.44, 0, 0.81),
       (361, 322, 110, 3, 4. , 5. , 8.64, 1, 0.85),
       (362, 334, 116, 4, 4. , 3.5, 9.54, 1, 0.93),
       (363, 338, 115, 5, 4.5, 5. , 9.23, 1, 0.91),
       (364, 306, 103, 2, 2.5, 3. , 8.36, 0, 0.69),
       (365, 313, 102, 3, 3.5, 4. , 8.9 , 1, 0.77),
       (366, 330, 114, 4, 4.5, 3. , 9.17, 1, 0.86),
       (367, 320, 104, 3, 3.5, 4.5, 8.34, 1, 0.74),
       (368, 311,  98, 1, 1. , 2.5, 7.46, 0, 0.57),
       (369, 298,  92, 1, 2. , 2. , 7.88, 0, 0.51),
       (370, 301,  98, 1, 2. , 3. , 8.03, 1, 0.67),
       (371, 310, 103, 2, 2.5, 2.5, 8.24, 0, 0.72),
       (372, 324, 110, 3, 3.5, 3. , 9.22, 1, 0.89),
       (373, 336, 119, 4, 4.5, 4. , 9.62, 1, 0.95),
       (374, 321, 109, 3, 3. , 3. , 8.54, 1, 0.79),
       (375, 315, 105, 2, 2. , 2.5, 7.65, 0, 0.39),
       (376, 304, 101, 2, 2. , 2.5, 7.66, 0, 0.38),
       (377, 297,  96, 2, 2.5, 2. , 7.43, 0, 0.34),
       (378, 290, 100, 1, 1.5, 2. , 7.56, 0, 0.47),
       (379, 303,  98, 1, 2. , 2.5, 7.65, 0, 0.56),
       (380, 311,  99, 1, 2.5, 3. , 8.43, 1, 0.71),
       (381, 322, 104, 3, 3.5, 4. , 8.84, 1, 0.78),
       (382, 319, 105, 3, 3. , 3.5, 8.67, 1, 0.73),
       (383, 324, 110, 4, 4.5, 4. , 9.15, 1, 0.82),
       (384, 300, 100, 3, 3. , 3.5, 8.26, 0, 0.62),

In [56]:
graduate_admission.shape # array con 400 tuplas

(400,)

In [57]:
# Slicing por columna
columnCGPA_rows05 =graduate_admission['CGPA'][0:5] # filas 0-4 de la columna ['CGPA']
print('columna columnCGPA, filas 0-5',columnCGPA_rows05)

# transformar columna CGPA a escala 5
graduate_admission['CGPA'] = graduate_admission['CGPA']/10 *4 # multiplicar columna 'CGPA' *(4/10)
print('columna CGPA transformada escala 5',graduate_admission)
columnCGPA_rows020 = graduate_admission['CGPA'][0:20]# filas 0-19 de la columna ['CGPA']
print('columna columnCGPA, filas 0-20',columnCGPA_rows020)

graduate_admission['CGPA']

columna columnCGPA, filas 0-5 [9.65 8.87 8.   8.67 8.21]
columna CGPA transformada escala 5 [(  1, 337, 118, 4, 4.5, 4.5, 3.86 , 1, 0.92)
 (  2, 324, 107, 4, 4. , 4.5, 3.548, 1, 0.76)
 (  3, 316, 104, 3, 3. , 3.5, 3.2  , 1, 0.72)
 (  4, 322, 110, 3, 3.5, 2.5, 3.468, 1, 0.8 )
 (  5, 314, 103, 2, 2. , 3. , 3.284, 0, 0.65)
 (  6, 330, 115, 5, 4.5, 3. , 3.736, 1, 0.9 )
 (  7, 321, 109, 3, 3. , 4. , 3.28 , 1, 0.75)
 (  8, 308, 101, 2, 3. , 4. , 3.16 , 0, 0.68)
 (  9, 302, 102, 1, 2. , 1.5, 3.2  , 0, 0.5 )
 ( 10, 323, 108, 3, 3.5, 3. , 3.44 , 0, 0.45)
 ( 11, 325, 106, 3, 3.5, 4. , 3.36 , 1, 0.52)
 ( 12, 327, 111, 4, 4. , 4.5, 3.6  , 1, 0.84)
 ( 13, 328, 112, 4, 4. , 4.5, 3.64 , 1, 0.78)
 ( 14, 307, 109, 3, 4. , 3. , 3.2  , 1, 0.62)
 ( 15, 311, 104, 3, 3.5, 2. , 3.28 , 1, 0.61)
 ( 16, 314, 105, 3, 3.5, 2.5, 3.32 , 0, 0.54)
 ( 17, 317, 107, 3, 4. , 3. , 3.48 , 0, 0.66)
 ( 18, 319, 106, 3, 4. , 3. , 3.2  , 1, 0.65)
 ( 19, 318, 110, 3, 4. , 3. , 3.52 , 0, 0.63)
 ( 20, 303, 102, 3, 3.5, 3. , 3.4  , 0, 0.62)
 ( 21, 312, 107, 3, 3. , 2. , 3.16 , 1, 0.64)
 ( 22, 325, 114, 4, 3. , 2. , 3.36 , 0, 0.7 )
 ( 23, 328, 116, 5, 5. , 5. , 3.8  , 1, 0.94)
 ( 24, 334, 119, 5, 5. , 4.5, 3.88 , 1, 0.95)
 ( 25, 336, 119, 5, 4. , 3.5, 3.92 , 1, 0.97)
 ( 26, 340, 120, 5, 4.5, 4.5, 3.84 , 1, 0.94)
 ( 27, 322, 109, 5, 4.5, 3.5, 3.52 , 0, 0.76)
 ( 28, 298,  98, 2, 1.5, 2.5, 3.   , 1, 0.44)
 ( 29, 295,  93, 1, 2. , 2. , 2.88 , 0, 0.46)
 ( 30, 310,  99, 2, 1.5, 2. , 2.92 , 0, 0.54)
 ( 31, 300,  97, 2, 3. , 3. , 3.24 , 1, 0.65)
 ( 32, 327, 103, 3, 4. , 4. , 3.32 , 1, 0.74)
 ( 33, 338, 118, 4, 3. , 4.5, 3.76 , 1, 0.91)
 ( 34, 340, 114, 5, 4. , 4. , 3.84 , 1, 0.9 )
 ( 35, 331, 112, 5, 4. , 5. , 3.92 , 1, 0.94)
 ( 36, 320, 110, 5, 5. , 5. , 3.68 , 1, 0.88)
 ( 37, 299, 106, 2, 4. , 4. , 3.36 , 0, 0.64)
 ( 38, 300, 105, 1, 1. , 2. , 3.12 , 0, 0.58)
 ( 39, 304, 105, 1, 3. , 1.5, 3.   , 0, 0.52)
 ( 40, 307, 108, 2, 4. , 3.5, 3.08 , 0, 0.48)
 ( 41, 308, 110, 3, 3.5, 3. , 3.2  , 1, 0.46)
 ( 42, 316, 105, 2, 2.5, 2.5, 3.28 , 1, 0.49)
 ( 43, 313, 107, 2, 2.5, 2. , 3.4  , 1, 0.53)
 ( 44, 332, 117, 4, 4.5, 4. , 3.64 , 0, 0.87)
 ( 45, 326, 113, 5, 4.5, 4. , 3.76 , 1, 0.91)
 ( 46, 322, 110, 5, 5. , 4. , 3.64 , 1, 0.88)
 ( 47, 329, 114, 5, 4. , 5. , 3.72 , 1, 0.86)
 ( 48, 339, 119, 5, 4.5, 4. , 3.88 , 0, 0.89)
 ( 49, 321, 110, 3, 3.5, 5. , 3.54 , 1, 0.82)
 ( 50, 327, 111, 4, 3. , 4. , 3.36 , 1, 0.78)
 ( 51, 313,  98, 3, 2.5, 4.5, 3.32 , 1, 0.76)
 ( 52, 312, 100, 2, 1.5, 3.5, 3.16 , 1, 0.56)
 ( 53, 334, 116, 4, 4. , 3. , 3.2  , 1, 0.78)
 ( 54, 324, 112, 4, 4. , 2.5, 3.24 , 1, 0.72)
 ( 55, 322, 110, 3, 3. , 3.5, 3.2  , 0, 0.7 )
 ( 56, 320, 103, 3, 3. , 3. , 3.08 , 0, 0.64)
 ( 57, 316, 102, 3, 2. , 3. , 2.96 , 0, 0.64)
 ( 58, 298,  99, 2, 4. , 2. , 3.04 , 0, 0.46)
 ( 59, 300,  99, 1, 3. , 2. , 2.72 , 1, 0.36)
 ( 60, 311, 104, 2, 2. , 2. , 3.32 , 0, 0.42)
 ( 61, 309, 100, 2, 3. , 3. , 3.24 , 0, 0.48)
 ( 62, 307, 101, 3, 4. , 3. , 3.28 , 0, 0.47)
 ( 63, 304, 105, 2, 3. , 3. , 3.28 , 1, 0.54)
 ( 64, 315, 107, 2, 4. , 3. , 3.4  , 1, 0.56)
 ( 65, 325, 111, 3, 3. , 3.5, 3.48 , 0, 0.52)
 ( 66, 325, 112, 4, 3.5, 3.5, 3.568, 0, 0.55)
 ( 67, 327, 114, 3, 3. , 3. , 3.608, 0, 0.61)
 ( 68, 316, 107, 2, 3.5, 3.5, 3.456, 1, 0.57)
 ( 69, 318, 109, 3, 3.5, 4. , 3.688, 1, 0.68)
 ( 70, 328, 115, 4, 4.5, 4. , 3.664, 1, 0.78)
 ( 71, 332, 118, 5, 5. , 5. , 3.856, 1, 0.94)
 ( 72, 336, 112, 5, 5. , 5. , 3.904, 1, 0.96)
 ( 73, 321, 111, 5, 5. , 5. , 3.78 , 1, 0.93)
 ( 74, 314, 108, 4, 4.5, 4. , 3.616, 1, 0.84)
 ( 75, 314, 106, 3, 3. , 5. , 3.56 , 0, 0.74)
 ( 76, 329, 114, 2, 2. , 4. , 3.424, 1, 0.72)
 ( 77, 327, 112, 3, 3. , 3. , 3.488, 1, 0.74)
 ( 78, 301,  99, 2, 3. , 2. , 3.288, 0, 0.64)
 ( 79, 296,  95, 2, 3. , 2. , 3.016, 1, 0.44)
 ( 80, 294,  93, 1, 1.5, 2. , 2.944, 0, 0.46)
 ( 81, 312, 105, 3, 2. , 3. , 3.208, 1, 0.5 )
 ( 82, 340, 120, 4, 5. , 5. , 3.8  , 1, 0.96)
 ( 83, 320, 110, 5, 5. , 4.5, 3.688, 1, 0.92)
 ( 84, 322, 115, 5, 4. , 4.5, 3.744, 1, 0.92)
 ( 85, 340, 115, 5, 4.5, 4.5, 3.78 , 1, 0.94)
 ( 86, 319, 103, 4, 4.5, 3.5, 3.464, 0, 0.76)
 ( 87, 315, 106, 3, 4.5, 3.5, 3.368, 0, 0.72)
 ( 88, 317, 107, 2, 3.5, 3. , 3.312, 0, 0.66)
 ( 89, 314, 108, 3, 4.5, 3.5, 3.256, 0, 0.64)
 ( 90, 316, 109, 4, 4.5, 3.5, 3.504, 1, 0.74)
 ( 91, 318, 106, 2, 4. , 4. , 3.168, 1, 0.64)
 ( 92, 299,  97, 3, 5. , 3.5, 3.064, 0, 0.38)
 ( 93, 298,  98, 2, 4. , 3. , 3.212, 0, 0.34)
 ( 94, 301,  97, 2, 3. , 3. , 3.152, 1, 0.44)
 ( 95, 303,  99, 3, 2. , 2.5, 3.064, 0, 0.36)
 ( 96, 304, 100, 4, 1.5, 2.5, 3.136, 0, 0.42)
 ( 97, 306, 100, 2, 3. , 3. , 3.2  , 0, 0.48)
 ( 98, 331, 120, 3, 4. , 4. , 3.584, 1, 0.86)
 ( 99, 332, 119, 4, 5. , 4.5, 3.696, 1, 0.9 )
 (100, 323, 113, 3, 4. , 4. , 3.552, 1, 0.79)
 (101, 322, 107, 3, 3.5, 3.5, 3.384, 1, 0.71)
 (102, 312, 105, 2, 2.5, 3. , 3.248, 0, 0.64)
 (103, 314, 106, 2, 4. , 3.5, 3.3  , 0, 0.62)
 (104, 317, 104, 2, 4.5, 4. , 3.388, 0, 0.57)
 (105, 326, 112, 3, 3.5, 3. , 3.62 , 1, 0.74)
 (106, 316, 110, 3, 4. , 4.5, 3.512, 1, 0.69)
 (107, 329, 111, 4, 4.5, 4.5, 3.672, 1, 0.87)
 (108, 338, 117, 4, 3.5, 4.5, 3.784, 1, 0.91)
 (109, 331, 116, 5, 5. , 5. , 3.752, 1, 0.93)
 (110, 304, 103, 5, 5. , 4. , 3.456, 0, 0.68)
 (111, 305, 108, 5, 3. , 3. , 3.392, 0, 0.61)
 (112, 321, 109, 4, 4. , 4. , 3.472, 1, 0.69)
 (113, 301, 107, 3, 3.5, 3.5, 3.336, 1, 0.62)
 (114, 320, 110, 2, 4. , 3.5, 3.424, 0, 0.72)
 (115, 311, 105, 3, 3.5, 3. , 3.38 , 1, 0.59)
 (116, 310, 106, 4, 4.5, 4.5, 3.616, 1, 0.66)
 (117, 299, 102, 3, 4. , 3.5, 3.448, 0, 0.56)
 (118, 290, 104, 4, 2. , 2.5, 2.984, 0, 0.45)
 (119, 296,  99, 2, 3. , 3.5, 2.912, 0, 0.47)
 (120, 327, 104, 5, 3. , 3.5, 3.536, 1, 0.71)
 (121, 335, 117, 5, 5. , 5. , 3.824, 1, 0.94)
 (122, 334, 119, 5, 4.5, 4.5, 3.792, 1, 0.94)
 (123, 310, 106, 4, 1.5, 2.5, 3.344, 0, 0.57)
 (124, 308, 108, 3, 3.5, 3.5, 3.288, 0, 0.61)
 (125, 301, 106, 4, 2.5, 3. , 3.388, 0, 0.57)
 (126, 300, 100, 3, 2. , 3. , 3.464, 1, 0.64)
 (127, 323, 113, 3, 4. , 3. , 3.728, 1, 0.85)
 (128, 319, 112, 3, 2.5, 2. , 3.484, 1, 0.78)
 (129, 326, 112, 3, 3.5, 3. , 3.64 , 1, 0.84)
 (130, 333, 118, 5, 5. , 5. , 3.74 , 1, 0.92)
 (131, 339, 114, 5, 4. , 4.5, 3.904, 1, 0.96)
 (132, 303, 105, 5, 5. , 4.5, 3.46 , 0, 0.77)
 (133, 309, 105, 5, 3.5, 3.5, 3.424, 0, 0.71)
 (134, 323, 112, 5, 4. , 4.5, 3.512, 0, 0.79)
 (135, 333, 113, 5, 4. , 4. , 3.712, 1, 0.89)
 (136, 314, 109, 4, 3.5, 4. , 3.508, 1, 0.82)
 (137, 312, 103, 3, 5. , 4. , 3.38 , 0, 0.76)
 (138, 316, 100, 2, 1.5, 3. , 3.264, 1, 0.71)
 (139, 326, 116, 2, 4.5, 3. , 3.632, 1, 0.8 )
 (140, 318, 109, 1, 3.5, 3.5, 3.648, 0, 0.78)
 (141, 329, 110, 2, 4. , 3. , 3.66 , 1, 0.84)
 (142, 332, 118, 2, 4.5, 3.5, 3.744, 1, 0.9 )
 (143, 331, 115, 5, 4. , 3.5, 3.776, 1, 0.92)
 (144, 340, 120, 4, 4.5, 4. , 3.968, 1, 0.97)
 (145, 325, 112, 2, 3. , 3.5, 3.584, 1, 0.8 )
 (146, 320, 113, 2, 2. , 2.5, 3.456, 1, 0.81)
 (147, 315, 105, 3, 2. , 2.5, 3.392, 0, 0.75)
 (148, 326, 114, 3, 3. , 3. , 3.644, 1, 0.83)
 (149, 339, 116, 4, 4. , 3.5, 3.92 , 1, 0.96)
 (150, 311, 106, 2, 3.5, 3. , 3.304, 1, 0.79)
 (151, 334, 114, 4, 4. , 4. , 3.772, 1, 0.93)
 (152, 332, 116, 5, 5. , 5. , 3.712, 1, 0.94)
 (153, 321, 112, 5, 5. , 5. , 3.624, 1, 0.86)
 (154, 324, 105, 3, 3. , 4. , 3.5  , 0, 0.79)
 (155, 326, 108, 3, 3. , 3.5, 3.556, 0, 0.8 )
 (156, 312, 109, 3, 3. , 3. , 3.476, 0, 0.77)
 (157, 315, 105, 3, 2. , 2.5, 3.336, 0, 0.7 )
 (158, 309, 104, 2, 2. , 2.5, 3.304, 0, 0.65)
 (159, 306, 106, 2, 2. , 2.5, 3.256, 0, 0.61)
 (160, 297, 100, 1, 1.5, 2. , 3.16 , 0, 0.52)
 (161, 315, 103, 1, 1.5, 2. , 3.144, 0, 0.57)
 (162, 298,  99, 1, 1.5, 3. , 2.984, 0, 0.53)
 (163, 318, 109, 3, 3. , 3. , 3.4  , 0, 0.67)
 (164, 317, 105, 3, 3.5, 3. , 3.424, 0, 0.68)
 (165, 329, 111, 4, 4.5, 4. , 3.604, 1, 0.81)
 (166, 322, 110, 5, 4.5, 4. , 3.588, 0, 0.78)
 (167, 302, 102, 3, 3.5, 5. , 3.332, 0, 0.65)
 (168, 313, 102, 3, 2. , 3. , 3.308, 0, 0.64)
 (169, 293,  97, 2, 2. , 4. , 3.12 , 1, 0.64)
 (170, 311,  99, 2, 2.5, 3. , 3.192, 0, 0.65)
 (171, 312, 101, 2, 2.5, 3.5, 3.216, 1, 0.68)
 (172, 334, 117, 5, 4. , 4.5, 3.628, 1, 0.89)
 (173, 322, 110, 4, 4. , 5. , 3.652, 1, 0.86)
 (174, 323, 113, 4, 4. , 4.5, 3.692, 1, 0.89)
 (175, 321, 111, 4, 4. , 4. , 3.588, 1, 0.87)
 (176, 320, 111, 4, 4.5, 3.5, 3.548, 1, 0.85)
 (177, 329, 119, 4, 4.5, 4.5, 3.664, 1, 0.9 )
 (178, 319, 110, 3, 3.5, 3.5, 3.616, 0, 0.82)
 (179, 309, 108, 3, 2.5, 3. , 3.248, 0, 0.72)
 (180, 307, 102, 3, 3. , 3. , 3.308, 0, 0.73)
 (181, 300, 104, 3, 3.5, 3. , 3.264, 0, 0.71)
 (182, 305, 107, 2, 2.5, 2.5, 3.368, 0, 0.71)
 (183, 299, 100, 2, 3. , 3.5, 3.152, 0, 0.68)
 (184, 314, 110, 3, 4. , 4. , 3.52 , 0, 0.75)
 (185, 316, 106, 2, 2.5, 4. , 3.328, 0, 0.72)
 (186, 327, 113, 4, 4.5, 4.5, 3.644, 1, 0.89)
 (187, 317, 107, 3, 3.5, 3. , 3.472, 1, 0.84)
 (188, 335, 118, 5, 4.5, 3.5, 3.776, 1, 0.93)
 (189, 331, 115, 5, 4.5, 3.5, 3.744, 1, 0.93)
 (190, 324, 112, 5, 5. , 5. , 3.632, 1, 0.88)
 (191, 324, 111, 5, 4.5, 4. , 3.664, 1, 0.9 )
 (192, 323, 110, 5, 4. , 5. , 3.592, 1, 0.87)
 (193, 322, 114, 5, 4.5, 4. , 3.576, 1, 0.86)
 (194, 336, 118, 5, 4.5, 5. , 3.812, 1, 0.94)
 (195, 316, 109, 3, 3.5, 3. , 3.504, 0, 0.77)
 (196, 307, 107, 2, 3. , 3.5, 3.408, 1, 0.78)
 (197, 306, 105, 2, 3. , 2.5, 3.304, 0, 0.73)
 (198, 310, 106, 2, 3.5, 2.5, 3.332, 0, 0.73)
 (199, 311, 104, 3, 4.5, 4.5, 3.372, 0, 0.7 )
 (200, 313, 107, 3, 4. , 4.5, 3.476, 0, 0.72)
 (201, 317, 103, 3, 2.5, 3. , 3.416, 1, 0.73)
 (202, 315, 110, 2, 3.5, 3. , 3.384, 1, 0.72)
 (203, 340, 120, 5, 4.5, 4.5, 3.964, 1, 0.97)
 (204, 334, 120, 5, 4. , 5. , 3.948, 1, 0.97)
 (205, 298, 105, 3, 3.5, 4. , 3.416, 0, 0.69)
 (206, 295,  99, 2, 2.5, 3. , 3.06 , 0, 0.57)
 (207, 315,  99, 2, 3.5, 3. , 3.156, 0, 0.63)
 (208, 310, 102, 3, 3.5, 4. , 3.208, 1, 0.66)
 (209, 305, 106, 2, 3. , 3. , 3.264, 0, 0.64)
 (210, 301, 104, 3, 3.5, 4. , 3.248, 1, 0.68)
 (211, 325, 108, 4, 4.5, 4. , 3.624, 1, 0.79)
 (212, 328, 110, 4, 5. , 4. , 3.656, 1, 0.82)
 (213, 338, 120, 4, 5. , 5. , 3.864, 1, 0.95)
 (214, 333, 119, 5, 5. , 4.5, 3.912, 1, 0.96)
 (215, 331, 117, 4, 4.5, 5. , 3.768, 1, 0.94)
 (216, 330, 116, 5, 5. , 4.5, 3.744, 1, 0.93)
 (217, 322, 112, 4, 4.5, 4.5, 3.704, 1, 0.91)
 (218, 321, 109, 4, 4. , 4. , 3.652, 1, 0.85)
 (219, 324, 110, 4, 3. , 3.5, 3.588, 1, 0.84)
 (220, 312, 104, 3, 3.5, 3.5, 3.368, 0, 0.74)
 (221, 313, 103, 3, 4. , 4. , 3.5  , 0, 0.76)
 (222, 316, 110, 3, 3.5, 4. , 3.424, 0, 0.75)
 (223, 324, 113, 4, 4.5, 4. , 3.516, 0, 0.76)
 (224, 308, 109, 2, 3. , 4. , 3.38 , 0, 0.71)
 (225, 305, 105, 2, 3. , 2. , 3.292, 0, 0.67)
 (226, 296,  99, 2, 2.5, 2.5, 3.212, 0, 0.61)
 (227, 306, 110, 2, 3.5, 4. , 3.38 , 0, 0.63)
 (228, 312, 110, 2, 3.5, 3. , 3.412, 0, 0.64)
 (229, 318, 112, 3, 4. , 3.5, 3.468, 0, 0.71)
 (230, 324, 111, 4, 3. , 3. , 3.604, 1, 0.82)
 (231, 313, 104, 3, 4. , 4.5, 3.46 , 0, 0.73)
 (232, 319, 106, 3, 3.5, 2.5, 3.332, 1, 0.74)
 (233, 312, 107, 2, 2.5, 3.5, 3.308, 0, 0.69)
 (234, 304, 100, 2, 2.5, 3.5, 3.228, 0, 0.64)
 (235, 330, 113, 5, 5. , 4. , 3.724, 1, 0.91)
 (236, 326, 111, 5, 4.5, 4. , 3.692, 1, 0.88)
 (237, 325, 112, 4, 4. , 4.5, 3.668, 1, 0.85)
 (238, 329, 114, 5, 4.5, 5. , 3.676, 1, 0.86)
 (239, 310, 104, 3, 2. , 3.5, 3.348, 0, 0.7 )
 (240, 299, 100, 1, 1.5, 2. , 3.156, 0, 0.59)
 (241, 296, 101, 1, 2.5, 3. , 3.072, 0, 0.6 )
 (242, 317, 103, 2, 2.5, 2. , 3.26 , 0, 0.65)
 (243, 324, 115, 3, 3.5, 3. , 3.504, 1, 0.7 )
 (244, 325, 114, 3, 3.5, 3. , 3.616, 1, 0.76)
 (245, 314, 107, 2, 2.5, 4. , 3.424, 0, 0.63)
 (246, 328, 110, 4, 4. , 2.5, 3.608, 1, 0.81)
 (247, 316, 105, 3, 3. , 3.5, 3.492, 0, 0.72)
 (248, 311, 104, 2, 2.5, 3.5, 3.392, 0, 0.71)
 (249, 324, 110, 3, 3.5, 4. , 3.548, 1, 0.8 )
 (250, 321, 111, 3, 3.5, 4. , 3.532, 1, 0.77)
 (251, 320, 104, 3, 3. , 2.5, 3.428, 1, 0.74)
 (252, 316,  99, 2, 2.5, 3. , 3.6  , 0, 0.7 )
 (253, 318, 100, 2, 2.5, 3.5, 3.416, 1, 0.71)
 (254, 335, 115, 4, 4.5, 4.5, 3.872, 1, 0.93)
 (255, 321, 114, 4, 4. , 5. , 3.648, 0, 0.85)
 (256, 307, 110, 4, 4. , 4.5, 3.348, 0, 0.79)
 (257, 309,  99, 3, 4. , 4. , 3.424, 0, 0.76)
 (258, 324, 100, 3, 4. , 5. , 3.456, 1, 0.78)
 (259, 326, 102, 4, 5. , 5. , 3.504, 1, 0.77)
 (260, 331, 119, 4, 5. , 4.5, 3.736, 1, 0.9 )
 (261, 327, 108, 5, 5. , 3.5, 3.652, 1, 0.87)
 (262, 312, 104, 3, 3.5, 4. , 3.236, 0, 0.71)
 (263, 308, 103, 2, 2.5, 4. , 3.344, 1, 0.7 )
 (264, 324, 111, 3, 2.5, 1.5, 3.516, 1, 0.7 )
 (265, 325, 110, 2, 3. , 2.5, 3.504, 1, 0.75)
 (266, 313, 102, 3, 2.5, 2.5, 3.472, 0, 0.71)
 (267, 312, 105, 2, 2. , 2.5, 3.38 , 0, 0.72)
 (268, 314, 107, 3, 3. , 3.5, 3.268, 1, 0.73)
 (269, 327, 113, 4, 4.5, 5. , 3.656, 0, 0.83)
 (270, 308, 108, 4, 4.5, 5. , 3.336, 0, 0.77)
 (271, 306, 105, 2, 2.5, 3. , 3.288, 1, 0.72)
 (272, 299,  96, 2, 1.5, 2. , 3.144, 0, 0.54)
 (273, 294,  95, 1, 1.5, 1.5, 3.056, 0, 0.49)
 (274, 312,  99, 1, 1. , 1.5, 3.204, 1, 0.52)
 (275, 315, 100, 1, 2. , 2.5, 3.18 , 0, 0.58)
 (276, 322, 110, 3, 3.5, 3. , 3.584, 1, 0.78)
 (277, 329, 113, 5, 5. , 4.5, 3.78 , 1, 0.89)
 (278, 320, 101, 2, 2.5, 3. , 3.448, 0, 0.7 )
 (279, 308, 103, 2, 3. , 3.5, 3.396, 0, 0.66)
 (280, 304, 102, 2, 3. , 4. , 3.492, 0, 0.67)
 (281, 311, 102, 3, 4.5, 4. , 3.456, 1, 0.68)
 (282, 317, 110, 3, 4. , 4.5, 3.644, 1, 0.8 )
 (283, 312, 106, 3, 4. , 3.5, 3.516, 1, 0.81)
 (284, 321, 111, 3, 2.5, 3. , 3.56 , 1, 0.8 )
 (285, 340, 112, 4, 5. , 4.5, 3.864, 1, 0.94)
 (286, 331, 116, 5, 4. , 4. , 3.704, 1, 0.93)
 (287, 336, 118, 5, 4.5, 4. , 3.676, 1, 0.92)
 (288, 324, 114, 5, 5. , 4.5, 3.632, 1, 0.89)
 (289, 314, 104, 4, 5. , 5. , 3.608, 0, 0.82)
 (290, 313, 109, 3, 4. , 3.5, 3.6  , 0, 0.79)
 (291, 307, 105, 2, 2.5, 3. , 3.06 , 0, 0.58)
 (292, 300, 102, 2, 1.5, 2. , 3.148, 0, 0.56)
 (293, 302,  99, 2, 1. , 2. , 3.188, 0, 0.56)
 (294, 312,  98, 1, 3.5, 3. , 3.272, 1, 0.64)
 (295, 316, 101, 2, 2.5, 2. , 3.328, 1, 0.61)
 (296, 317, 100, 2, 3. , 2.5, 3.428, 0, 0.68)
 (297, 310, 107, 3, 3.5, 3.5, 3.468, 0, 0.76)
 (298, 320, 120, 3, 4. , 4.5, 3.644, 0, 0.86)
 (299, 330, 114, 3, 4.5, 4.5, 3.696, 1, 0.9 )
 (300, 305, 112, 3, 3. , 3.5, 3.46 , 0, 0.71)
 (301, 309, 106, 2, 2.5, 2.5, 3.2  , 0, 0.62)
 (302, 319, 108, 2, 2.5, 3. , 3.504, 0, 0.66)
 (303, 322, 105, 2, 3. , 3. , 3.38 , 1, 0.65)
 (304, 323, 107, 3, 3.5, 3.5, 3.42 , 1, 0.73)
 (305, 313, 106, 2, 2.5, 2. , 3.372, 0, 0.62)
 (306, 321, 109, 3, 3.5, 3.5, 3.52 , 1, 0.74)
 (307, 323, 110, 3, 4. , 3.5, 3.64 , 1, 0.79)
 (308, 325, 112, 4, 4. , 4. , 3.6  , 1, 0.8 )
 (309, 312, 108, 3, 3.5, 3. , 3.412, 0, 0.69)
 (310, 308, 110, 4, 3.5, 3. , 3.44 , 0, 0.7 )
 (311, 320, 104, 3, 3. , 3.5, 3.496, 1, 0.76)
 (312, 328, 108, 4, 4.5, 4. , 3.672, 1, 0.84)
 (313, 311, 107, 4, 4.5, 4.5, 3.6  , 1, 0.78)
 (314, 301, 100, 3, 3.5, 3. , 3.216, 0, 0.67)
 (315, 305, 105, 2, 3. , 4. , 3.252, 0, 0.66)
 (316, 308, 104, 2, 2.5, 3. , 3.228, 0, 0.65)
 (317, 298, 101, 2, 1.5, 2. , 3.144, 0, 0.54)
 (318, 300,  99, 1, 1. , 2.5, 3.204, 0, 0.58)
 (319, 324, 111, 3, 2.5, 2. , 3.52 , 1, 0.79)
 (320, 327, 113, 4, 3.5, 3. , 3.476, 1, 0.8 )
 (321, 317, 106, 3, 4. , 3.5, 3.4  , 1, 0.75)
 (322, 323, 104, 3, 4. , 4. , 3.376, 1, 0.73)
 (323, 314, 107, 2, 2.5, 4. , 3.308, 0, 0.72)
 (324, 305, 102, 2, 2. , 2.5, 3.272, 0, 0.62)
 (325, 315, 104, 3, 3. , 2.5, 3.332, 0, 0.67)
 (326, 326, 116, 3, 3.5, 4. , 3.656, 1, 0.81)
 (327, 299, 100, 3, 2. , 2. , 3.208, 0, 0.63)
 (328, 295, 101, 2, 2.5, 2. , 3.144, 0, 0.69)
 (329, 324, 112, 4, 4. , 3.5, 3.508, 1, 0.8 )
 (330, 297,  96, 2, 2.5, 1.5, 3.156, 0, 0.43)
 (331, 327, 113, 3, 3.5, 3. , 3.464, 1, 0.8 )
 (332, 311, 105, 2, 3. , 2. , 3.248, 1, 0.73)
 (333, 308, 106, 3, 3.5, 2.5, 3.284, 1, 0.75)
 (334, 319, 108, 3, 3. , 3.5, 3.416, 1, 0.71)
 (335, 312, 107, 4, 4.5, 4. , 3.46 , 1, 0.73)
 (336, 325, 111, 4, 4. , 4.5, 3.644, 1, 0.83)
 (337, 319, 110, 3, 3. , 2.5, 3.516, 0, 0.72)
 (338, 332, 118, 5, 5. , 5. , 3.788, 1, 0.94)
 (339, 323, 108, 5, 4. , 4. , 3.496, 1, 0.81)
 (340, 324, 107, 5, 3.5, 4. , 3.464, 1, 0.81)
 (341, 312, 107, 3, 3. , 3. , 3.384, 1, 0.75)
 (342, 326, 110, 3, 3.5, 3.5, 3.504, 1, 0.79)
 (343, 308, 106, 3, 3. , 3. , 3.296, 0, 0.58)
 (344, 305, 103, 2, 2.5, 3.5, 3.252, 0, 0.59)
 (345, 295,  96, 2, 1.5, 2. , 2.936, 0, 0.47)
 (346, 316,  98, 1, 1.5, 2. , 2.972, 0, 0.49)
 (347, 304,  97, 2, 1.5, 2. , 3.056, 0, 0.47)
 (348, 299,  94, 1, 1. , 1. , 2.936, 0, 0.42)
 (349, 302,  99, 1, 2. , 2. , 2.9  , 0, 0.57)
 (350, 313, 101, 3, 2.5, 3. , 3.216, 0, 0.62)
 (351, 318, 107, 3, 3. , 3.5, 3.308, 1, 0.74)
 (352, 325, 110, 4, 3.5, 4. , 3.468, 1, 0.73)
 (353, 303, 100, 2, 3. , 3.5, 3.224, 1, 0.64)
 (354, 300, 102, 3, 3.5, 2.5, 3.268, 0, 0.63)
 (355, 297,  98, 2, 2.5, 3. , 3.068, 0, 0.59)
 (356, 317, 106, 2, 2. , 3.5, 3.248, 0, 0.73)
 (357, 327, 109, 3, 3.5, 4. , 3.508, 1, 0.79)
 (358, 301, 104, 2, 3.5, 3.5, 3.156, 1, 0.68)
 (359, 314, 105, 2, 2.5, 2. , 3.056, 0, 0.7 )
 (360, 321, 107, 2, 2. , 1.5, 3.376, 0, 0.81)
 (361, 322, 110, 3, 4. , 5. , 3.456, 1, 0.85)
 (362, 334, 116, 4, 4. , 3.5, 3.816, 1, 0.93)
 (363, 338, 115, 5, 4.5, 5. , 3.692, 1, 0.91)
 (364, 306, 103, 2, 2.5, 3. , 3.344, 0, 0.69)
 (365, 313, 102, 3, 3.5, 4. , 3.56 , 1, 0.77)
 (366, 330, 114, 4, 4.5, 3. , 3.668, 1, 0.86)
 (367, 320, 104, 3, 3.5, 4.5, 3.336, 1, 0.74)
 (368, 311,  98, 1, 1. , 2.5, 2.984, 0, 0.57)
 (369, 298,  92, 1, 2. , 2. , 3.152, 0, 0.51)
 (370, 301,  98, 1, 2. , 3. , 3.212, 1, 0.67)
 (371, 310, 103, 2, 2.5, 2.5, 3.296, 0, 0.72)
 (372, 324, 110, 3, 3.5, 3. , 3.688, 1, 0.89)
 (373, 336, 119, 4, 4.5, 4. , 3.848, 1, 0.95)
 (374, 321, 109, 3, 3. , 3. , 3.416, 1, 0.79)
 (375, 315, 105, 2, 2. , 2.5, 3.06 , 0, 0.39)
 (376, 304, 101, 2, 2. , 2.5, 3.064, 0, 0.38)
 (377, 297,  96, 2, 2.5, 2. , 2.972, 0, 0.34)
 (378, 290, 100, 1, 1.5, 2. , 3.024, 0, 0.47)
 (379, 303,  98, 1, 2. , 2.5, 3.06 , 0, 0.56)
 (380, 311,  99, 1, 2.5, 3. , 3.372, 1, 0.71)
 (381, 322, 104, 3, 3.5, 4. , 3.536, 1, 0.78)
 (382, 319, 105, 3, 3. , 3.5, 3.468, 1, 0.73)
 (383, 324, 110, 4, 4.5, 4. , 3.66 , 1, 0.82)
 (384, 300, 100, 3, 3. , 3.5, 3.304, 0, 0.62)
 (385, 340, 113, 4, 5. , 5. , 3.896, 1, 0.96)
 (386, 335, 117, 5, 5. , 5. , 3.928, 1, 0.96)
 (387, 302, 101, 2, 2.5, 3.5, 3.184, 0, 0.46)
 (388, 307, 105, 2, 2. , 3.5, 3.24 , 0, 0.53)
 (389, 296,  97, 2, 1.5, 2. , 3.12 , 0, 0.49)
 (390, 320, 108, 3, 3.5, 4. , 3.376, 1, 0.76)
 (391, 314, 102, 2, 2. , 2.5, 3.296, 0, 0.64)
 (392, 318, 106, 3, 2. , 3. , 3.46 , 0, 0.71)
 (393, 326, 112, 4, 4. , 3.5, 3.648, 1, 0.84)
 (394, 317, 104, 2, 3. , 3. , 3.504, 0, 0.77)
 (395, 329, 111, 4, 4.5, 4. , 3.692, 1, 0.89)
 (396, 324, 110, 3, 3.5, 3.5, 3.616, 1, 0.82)
 (397, 325, 107, 3, 3. , 3.5, 3.644, 1, 0.84)
 (398, 330, 116, 4, 5. , 4.5, 3.78 , 1, 0.91)
 (399, 312, 103, 3, 3.5, 4. , 3.512, 0, 0.67)
 (400, 333, 117, 4, 5. , 4. , 3.864, 1, 0.95)]
columna columnCGPA, filas 0-20 [3.86  3.548 3.2   3.468 3.284 3.736 3.28  3.16  3.2   3.44  3.36  3.6
 3.64  3.2   3.28  3.32  3.48  3.2   3.52  3.4  ]

array([3.86 , 3.548, 3.2  , 3.468, 3.284, 3.736, 3.28 , 3.16 , 3.2  ,
       3.44 , 3.36 , 3.6  , 3.64 , 3.2  , 3.28 , 3.32 , 3.48 , 3.2  ,
       3.52 , 3.4  , 3.16 , 3.36 , 3.8  , 3.88 , 3.92 , 3.84 , 3.52 ,
       3.   , 2.88 , 2.92 , 3.24 , 3.32 , 3.76 , 3.84 , 3.92 , 3.68 ,
       3.36 , 3.12 , 3.   , 3.08 , 3.2  , 3.28 , 3.4  , 3.64 , 3.76 ,
       3.64 , 3.72 , 3.88 , 3.54 , 3.36 , 3.32 , 3.16 , 3.2  , 3.24 ,
       3.2  , 3.08 , 2.96 , 3.04 , 2.72 , 3.32 , 3.24 , 3.28 , 3.28 ,
       3.4  , 3.48 , 3.568, 3.608, 3.456, 3.688, 3.664, 3.856, 3.904,
       3.78 , 3.616, 3.56 , 3.424, 3.488, 3.288, 3.016, 2.944, 3.208,
       3.8  , 3.688, 3.744, 3.78 , 3.464, 3.368, 3.312, 3.256, 3.504,
       3.168, 3.064, 3.212, 3.152, 3.064, 3.136, 3.2  , 3.584, 3.696,
       3.552, 3.384, 3.248, 3.3  , 3.388, 3.62 , 3.512, 3.672, 3.784,
       3.752, 3.456, 3.392, 3.472, 3.336, 3.424, 3.38 , 3.616, 3.448,
       2.984, 2.912, 3.536, 3.824, 3.792, 3.344, 3.288, 3.388, 3.464,
       3.728, 3.484, 3.64 , 3.74 , 3.904, 3.46 , 3.424, 3.512, 3.712,
       3.508, 3.38 , 3.264, 3.632, 3.648, 3.66 , 3.744, 3.776, 3.968,
       3.584, 3.456, 3.392, 3.644, 3.92 , 3.304, 3.772, 3.712, 3.624,
       3.5  , 3.556, 3.476, 3.336, 3.304, 3.256, 3.16 , 3.144, 2.984,
       3.4  , 3.424, 3.604, 3.588, 3.332, 3.308, 3.12 , 3.192, 3.216,
       3.628, 3.652, 3.692, 3.588, 3.548, 3.664, 3.616, 3.248, 3.308,
       3.264, 3.368, 3.152, 3.52 , 3.328, 3.644, 3.472, 3.776, 3.744,
       3.632, 3.664, 3.592, 3.576, 3.812, 3.504, 3.408, 3.304, 3.332,
       3.372, 3.476, 3.416, 3.384, 3.964, 3.948, 3.416, 3.06 , 3.156,
       3.208, 3.264, 3.248, 3.624, 3.656, 3.864, 3.912, 3.768, 3.744,
       3.704, 3.652, 3.588, 3.368, 3.5  , 3.424, 3.516, 3.38 , 3.292,
       3.212, 3.38 , 3.412, 3.468, 3.604, 3.46 , 3.332, 3.308, 3.228,
       3.724, 3.692, 3.668, 3.676, 3.348, 3.156, 3.072, 3.26 , 3.504,
       3.616, 3.424, 3.608, 3.492, 3.392, 3.548, 3.532, 3.428, 3.6  ,
       3.416, 3.872, 3.648, 3.348, 3.424, 3.456, 3.504, 3.736, 3.652,
       3.236, 3.344, 3.516, 3.504, 3.472, 3.38 , 3.268, 3.656, 3.336,
       3.288, 3.144, 3.056, 3.204, 3.18 , 3.584, 3.78 , 3.448, 3.396,
       3.492, 3.456, 3.644, 3.516, 3.56 , 3.864, 3.704, 3.676, 3.632,
       3.608, 3.6  , 3.06 , 3.148, 3.188, 3.272, 3.328, 3.428, 3.468,
       3.644, 3.696, 3.46 , 3.2  , 3.504, 3.38 , 3.42 , 3.372, 3.52 ,
       3.64 , 3.6  , 3.412, 3.44 , 3.496, 3.672, 3.6  , 3.216, 3.252,
       3.228, 3.144, 3.204, 3.52 , 3.476, 3.4  , 3.376, 3.308, 3.272,
       3.332, 3.656, 3.208, 3.144, 3.508, 3.156, 3.464, 3.248, 3.284,
       3.416, 3.46 , 3.644, 3.516, 3.788, 3.496, 3.464, 3.384, 3.504,
       3.296, 3.252, 2.936, 2.972, 3.056, 2.936, 2.9  , 3.216, 3.308,
       3.468, 3.224, 3.268, 3.068, 3.248, 3.508, 3.156, 3.056, 3.376,
       3.456, 3.816, 3.692, 3.344, 3.56 , 3.668, 3.336, 2.984, 3.152,
       3.212, 3.296, 3.688, 3.848, 3.416, 3.06 , 3.064, 2.972, 3.024,
       3.06 , 3.372, 3.536, 3.468, 3.66 , 3.304, 3.896, 3.928, 3.184,
       3.24 , 3.12 , 3.376, 3.296, 3.46 , 3.648, 3.504, 3.692, 3.616,
       3.644, 3.78 , 3.512, 3.864])

## Transformar base de datos por condición (boolean)

In [58]:
# filas por condicion (boolena)
columnaResearch_cond1 = graduate_admission[graduate_admission['Research']==1]
print(len(graduate_admission[graduate_admission['Research'] == 1]))
columnaResearch_cond1

219

array([(  1, 337, 118, 4, 4.5, 4.5, 3.86 , 1, 0.92),
       (  2, 324, 107, 4, 4. , 4.5, 3.548, 1, 0.76),
       (  3, 316, 104, 3, 3. , 3.5, 3.2  , 1, 0.72),
       (  4, 322, 110, 3, 3.5, 2.5, 3.468, 1, 0.8 ),
       (  6, 330, 115, 5, 4.5, 3. , 3.736, 1, 0.9 ),
       (  7, 321, 109, 3, 3. , 4. , 3.28 , 1, 0.75),
       ( 11, 325, 106, 3, 3.5, 4. , 3.36 , 1, 0.52),
       ( 12, 327, 111, 4, 4. , 4.5, 3.6  , 1, 0.84),
       ( 13, 328, 112, 4, 4. , 4.5, 3.64 , 1, 0.78),
       ( 14, 307, 109, 3, 4. , 3. , 3.2  , 1, 0.62),
       ( 15, 311, 104, 3, 3.5, 2. , 3.28 , 1, 0.61),
       ( 18, 319, 106, 3, 4. , 3. , 3.2  , 1, 0.65),
       ( 21, 312, 107, 3, 3. , 2. , 3.16 , 1, 0.64),
       ( 23, 328, 116, 5, 5. , 5. , 3.8  , 1, 0.94),
       ( 24, 334, 119, 5, 5. , 4.5, 3.88 , 1, 0.95),
       ( 25, 336, 119, 5, 4. , 3.5, 3.92 , 1, 0.97),
       ( 26, 340, 120, 5, 4.5, 4.5, 3.84 , 1, 0.94),
       ( 28, 298,  98, 2, 1.5, 2.5, 3.   , 1, 0.44),
       ( 31, 300,  97, 2, 3. , 3. , 3.24 , 1, 0.65),
       ( 32, 327, 103, 3, 4. , 4. , 3.32 , 1, 0.74),
       ( 33, 338, 118, 4, 3. , 4.5, 3.76 , 1, 0.91),
       ( 34, 340, 114, 5, 4. , 4. , 3.84 , 1, 0.9 ),
       ( 35, 331, 112, 5, 4. , 5. , 3.92 , 1, 0.94),
       ( 36, 320, 110, 5, 5. , 5. , 3.68 , 1, 0.88),
       ( 41, 308, 110, 3, 3.5, 3. , 3.2  , 1, 0.46),
       ( 42, 316, 105, 2, 2.5, 2.5, 3.28 , 1, 0.49),
       ( 43, 313, 107, 2, 2.5, 2. , 3.4  , 1, 0.53),
       ( 45, 326, 113, 5, 4.5, 4. , 3.76 , 1, 0.91),
       ( 46, 322, 110, 5, 5. , 4. , 3.64 , 1, 0.88),
       ( 47, 329, 114, 5, 4. , 5. , 3.72 , 1, 0.86),
       ( 49, 321, 110, 3, 3.5, 5. , 3.54 , 1, 0.82),
       ( 50, 327, 111, 4, 3. , 4. , 3.36 , 1, 0.78),
       ( 51, 313,  98, 3, 2.5, 4.5, 3.32 , 1, 0.76),
       ( 52, 312, 100, 2, 1.5, 3.5, 3.16 , 1, 0.56),
       ( 53, 334, 116, 4, 4. , 3. , 3.2  , 1, 0.78),
       ( 54, 324, 112, 4, 4. , 2.5, 3.24 , 1, 0.72),
       ( 59, 300,  99, 1, 3. , 2. , 2.72 , 1, 0.36),
       ( 63, 304, 105, 2, 3. , 3. , 3.28 , 1, 0.54),
       ( 64, 315, 107, 2, 4. , 3. , 3.4  , 1, 0.56),
       ( 68, 316, 107, 2, 3.5, 3.5, 3.456, 1, 0.57),
       ( 69, 318, 109, 3, 3.5, 4. , 3.688, 1, 0.68),
       ( 70, 328, 115, 4, 4.5, 4. , 3.664, 1, 0.78),
       ( 71, 332, 118, 5, 5. , 5. , 3.856, 1, 0.94),
       ( 72, 336, 112, 5, 5. , 5. , 3.904, 1, 0.96),
       ( 73, 321, 111, 5, 5. , 5. , 3.78 , 1, 0.93),
       ( 74, 314, 108, 4, 4.5, 4. , 3.616, 1, 0.84),
       ( 76, 329, 114, 2, 2. , 4. , 3.424, 1, 0.72),
       ( 77, 327, 112, 3, 3. , 3. , 3.488, 1, 0.74),
       ( 79, 296,  95, 2, 3. , 2. , 3.016, 1, 0.44),
       ( 81, 312, 105, 3, 2. , 3. , 3.208, 1, 0.5 ),
       ( 82, 340, 120, 4, 5. , 5. , 3.8  , 1, 0.96),
       ( 83, 320, 110, 5, 5. , 4.5, 3.688, 1, 0.92),
       ( 84, 322, 115, 5, 4. , 4.5, 3.744, 1, 0.92),
       ( 85, 340, 115, 5, 4.5, 4.5, 3.78 , 1, 0.94),
       ( 90, 316, 109, 4, 4.5, 3.5, 3.504, 1, 0.74),
       ( 91, 318, 106, 2, 4. , 4. , 3.168, 1, 0.64),
       ( 94, 301,  97, 2, 3. , 3. , 3.152, 1, 0.44),
       ( 98, 331, 120, 3, 4. , 4. , 3.584, 1, 0.86),
       ( 99, 332, 119, 4, 5. , 4.5, 3.696, 1, 0.9 ),
       (100, 323, 113, 3, 4. , 4. , 3.552, 1, 0.79),
       (101, 322, 107, 3, 3.5, 3.5, 3.384, 1, 0.71),
       (105, 326, 112, 3, 3.5, 3. , 3.62 , 1, 0.74),
       (106, 316, 110, 3, 4. , 4.5, 3.512, 1, 0.69),
       (107, 329, 111, 4, 4.5, 4.5, 3.672, 1, 0.87),
       (108, 338, 117, 4, 3.5, 4.5, 3.784, 1, 0.91),
       (109, 331, 116, 5, 5. , 5. , 3.752, 1, 0.93),
       (112, 321, 109, 4, 4. , 4. , 3.472, 1, 0.69),
       (113, 301, 107, 3, 3.5, 3.5, 3.336, 1, 0.62),
       (115, 311, 105, 3, 3.5, 3. , 3.38 , 1, 0.59),
       (116, 310, 106, 4, 4.5, 4.5, 3.616, 1, 0.66),
       (120, 327, 104, 5, 3. , 3.5, 3.536, 1, 0.71),
       (121, 335, 117, 5, 5. , 5. , 3.824, 1, 0.94),
       (122, 334, 119, 5, 4.5, 4.5, 3.792, 1, 0.94),
       (126, 300, 100, 3, 2. , 3. , 3.464, 1, 0.64),
       (127, 323, 113, 3, 4. , 3. , 3.728, 1, 0.85),
       (128, 319, 112, 3, 2.5, 2. , 3.484, 1, 0.78),
       (129, 326, 112, 3, 3.5, 3. , 3.64 , 1, 0.84),
       (130, 333, 118, 5, 5. , 5. , 3.74 , 1, 0.92),
       (131, 339, 114, 5, 4. , 4.5, 3.904, 1, 0.96),
       (135, 333, 113, 5, 4. , 4. , 3.712, 1, 0.89),
       (136, 314, 109, 4, 3.5, 4. , 3.508, 1, 0.82),
       (138, 316, 100, 2, 1.5, 3. , 3.264, 1, 0.71),
       (139, 326, 116, 2, 4.5, 3. , 3.632, 1, 0.8 ),
       (141, 329, 110, 2, 4. , 3. , 3.66 , 1, 0.84),
       (142, 332, 118, 2, 4.5, 3.5, 3.744, 1, 0.9 ),
       (143, 331, 115, 5, 4. , 3.5, 3.776, 1, 0.92),
       (144, 340, 120, 4, 4.5, 4. , 3.968, 1, 0.97),
       (145, 325, 112, 2, 3. , 3.5, 3.584, 1, 0.8 ),
       (146, 320, 113, 2, 2. , 2.5, 3.456, 1, 0.81),
       (148, 326, 114, 3, 3. , 3. , 3.644, 1, 0.83),
       (149, 339, 116, 4, 4. , 3.5, 3.92 , 1, 0.96),
       (150, 311, 106, 2, 3.5, 3. , 3.304, 1, 0.79),
       (151, 334, 114, 4, 4. , 4. , 3.772, 1, 0.93),
       (152, 332, 116, 5, 5. , 5. , 3.712, 1, 0.94),
       (153, 321, 112, 5, 5. , 5. , 3.624, 1, 0.86),
       (165, 329, 111, 4, 4.5, 4. , 3.604, 1, 0.81),
       (169, 293,  97, 2, 2. , 4. , 3.12 , 1, 0.64),
       (171, 312, 101, 2, 2.5, 3.5, 3.216, 1, 0.68),
       (172, 334, 117, 5, 4. , 4.5, 3.628, 1, 0.89),
       (173, 322, 110, 4, 4. , 5. , 3.652, 1, 0.86),
       (174, 323, 113, 4, 4. , 4.5, 3.692, 1, 0.89),
       (175, 321, 111, 4, 4. , 4. , 3.588, 1, 0.87),
       (176, 320, 111, 4, 4.5, 3.5, 3.548, 1, 0.85),
       (177, 329, 119, 4, 4.5, 4.5, 3.664, 1, 0.9 ),
       (186, 327, 113, 4, 4.5, 4.5, 3.644, 1, 0.89),
       (187, 317, 107, 3, 3.5, 3. , 3.472, 1, 0.84),
       (188, 335, 118, 5, 4.5, 3.5, 3.776, 1, 0.93),
       (189, 331, 115, 5, 4.5, 3.5, 3.744, 1, 0.93),
       (190, 324, 112, 5, 5. , 5. , 3.632, 1, 0.88),
       (191, 324, 111, 5, 4.5, 4. , 3.664, 1, 0.9 ),
       (192, 323, 110, 5, 4. , 5. , 3.592, 1, 0.87),
       (193, 322, 114, 5, 4.5, 4. , 3.576, 1, 0.86),
       (194, 336, 118, 5, 4.5, 5. , 3.812, 1, 0.94),
       (196, 307, 107, 2, 3. , 3.5, 3.408, 1, 0.78),
       (201, 317, 103, 3, 2.5, 3. , 3.416, 1, 0.73),
       (202, 315, 110, 2, 3.5, 3. , 3.384, 1, 0.72),
       (203, 340, 120, 5, 4.5, 4.5, 3.964, 1, 0.97),
       (204, 334, 120, 5, 4. , 5. , 3.948, 1, 0.97),
       (208, 310, 102, 3, 3.5, 4. , 3.208, 1, 0.66),
       (210, 301, 104, 3, 3.5, 4. , 3.248, 1, 0.68),
       (211, 325, 108, 4, 4.5, 4. , 3.624, 1, 0.79),
       (212, 328, 110, 4, 5. , 4. , 3.656, 1, 0.82),
       (213, 338, 120, 4, 5. , 5. , 3.864, 1, 0.95),
       (214, 333, 119, 5, 5. , 4.5, 3.912, 1, 0.96),
       (215, 331, 117, 4, 4.5, 5. , 3.768, 1, 0.94),
       (216, 330, 116, 5, 5. , 4.5, 3.744, 1, 0.93),
       (217, 322, 112, 4, 4.5, 4.5, 3.704, 1, 0.91),
       (218, 321, 109, 4, 4. , 4. , 3.652, 1, 0.85),
       (219, 324, 110, 4, 3. , 3.5, 3.588, 1, 0.84),
       (230, 324, 111, 4, 3. , 3. , 3.604, 1, 0.82),
       (232, 319, 106, 3, 3.5, 2.5, 3.332, 1, 0.74),
       (235, 330, 113, 5, 5. , 4. , 3.724, 1, 0.91),
       (236, 326, 111, 5, 4.5, 4. , 3.692, 1, 0.88),
       (237, 325, 112, 4, 4. , 4.5, 3.668, 1, 0.85),
       (238, 329, 114, 5, 4.5, 5. , 3.676, 1, 0.86),
       (243, 324, 115, 3, 3.5, 3. , 3.504, 1, 0.7 ),
       (244, 325, 114, 3, 3.5, 3. , 3.616, 1, 0.76),
       (246, 328, 110, 4, 4. , 2.5, 3.608, 1, 0.81),
       (249, 324, 110, 3, 3.5, 4. , 3.548, 1, 0.8 ),
       (250, 321, 111, 3, 3.5, 4. , 3.532, 1, 0.77),
       (251, 320, 104, 3, 3. , 2.5, 3.428, 1, 0.74),
       (253, 318, 100, 2, 2.5, 3.5, 3.416, 1, 0.71),
       (254, 335, 115, 4, 4.5, 4.5, 3.872, 1, 0.93),
       (258, 324, 100, 3, 4. , 5. , 3.456, 1, 0.78),
       (259, 326, 102, 4, 5. , 5. , 3.504, 1, 0.77),
       (260, 331, 119, 4, 5. , 4.5, 3.736, 1, 0.9 ),
       (261, 327, 108, 5, 5. , 3.5, 3.652, 1, 0.87),
       (263, 308, 103, 2, 2.5, 4. , 3.344, 1, 0.7 ),
       (264, 324, 111, 3, 2.5, 1.5, 3.516, 1, 0.7 ),
       (265, 325, 110, 2, 3. , 2.5, 3.504, 1, 0.75),
       (268, 314, 107, 3, 3. , 3.5, 3.268, 1, 0.73),
       (271, 306, 105, 2, 2.5, 3. , 3.288, 1, 0.72),
       (274, 312,  99, 1, 1. , 1.5, 3.204, 1, 0.52),
       (276, 322, 110, 3, 3.5, 3. , 3.584, 1, 0.78),
       (277, 329, 113, 5, 5. , 4.5, 3.78 , 1, 0.89),
       (281, 311, 102, 3, 4.5, 4. , 3.456, 1, 0.68),
       (282, 317, 110, 3, 4. , 4.5, 3.644, 1, 0.8 ),
       (283, 312, 106, 3, 4. , 3.5, 3.516, 1, 0.81),
       (284, 321, 111, 3, 2.5, 3. , 3.56 , 1, 0.8 ),
       (285, 340, 112, 4, 5. , 4.5, 3.864, 1, 0.94),
       (286, 331, 116, 5, 4. , 4. , 3.704, 1, 0.93),
       (287, 336, 118, 5, 4.5, 4. , 3.676, 1, 0.92),
       (288, 324, 114, 5, 5. , 4.5, 3.632, 1, 0.89),
       (294, 312,  98, 1, 3.5, 3. , 3.272, 1, 0.64),
       (295, 316, 101, 2, 2.5, 2. , 3.328, 1, 0.61),
       (299, 330, 114, 3, 4.5, 4.5, 3.696, 1, 0.9 ),
       (303, 322, 105, 2, 3. , 3. , 3.38 , 1, 0.65),
       (304, 323, 107, 3, 3.5, 3.5, 3.42 , 1, 0.73),
       (306, 321, 109, 3, 3.5, 3.5, 3.52 , 1, 0.74),
       (307, 323, 110, 3, 4. , 3.5, 3.64 , 1, 0.79),
       (308, 325, 112, 4, 4. , 4. , 3.6  , 1, 0.8 ),
       (311, 320, 104, 3, 3. , 3.5, 3.496, 1, 0.76),
       (312, 328, 108, 4, 4.5, 4. , 3.672, 1, 0.84),
       (313, 311, 107, 4, 4.5, 4.5, 3.6  , 1, 0.78),
       (319, 324, 111, 3, 2.5, 2. , 3.52 , 1, 0.79),
       (320, 327, 113, 4, 3.5, 3. , 3.476, 1, 0.8 ),
       (321, 317, 106, 3, 4. , 3.5, 3.4  , 1, 0.75),
       (322, 323, 104, 3, 4. , 4. , 3.376, 1, 0.73),
       (326, 326, 116, 3, 3.5, 4. , 3.656, 1, 0.81),
       (329, 324, 112, 4, 4. , 3.5, 3.508, 1, 0.8 ),
       (331, 327, 113, 3, 3.5, 3. , 3.464, 1, 0.8 ),
       (332, 311, 105, 2, 3. , 2. , 3.248, 1, 0.73),
       (333, 308, 106, 3, 3.5, 2.5, 3.284, 1, 0.75),
       (334, 319, 108, 3, 3. , 3.5, 3.416, 1, 0.71),
       (335, 312, 107, 4, 4.5, 4. , 3.46 , 1, 0.73),
       (336, 325, 111, 4, 4. , 4.5, 3.644, 1, 0.83),
       (338, 332, 118, 5, 5. , 5. , 3.788, 1, 0.94),
       (339, 323, 108, 5, 4. , 4. , 3.496, 1, 0.81),
       (340, 324, 107, 5, 3.5, 4. , 3.464, 1, 0.81),
       (341, 312, 107, 3, 3. , 3. , 3.384, 1, 0.75),
       (342, 326, 110, 3, 3.5, 3.5, 3.504, 1, 0.79),
       (351, 318, 107, 3, 3. , 3.5, 3.308, 1, 0.74),
       (352, 325, 110, 4, 3.5, 4. , 3.468, 1, 0.73),
       (353, 303, 100, 2, 3. , 3.5, 3.224, 1, 0.64),
       (357, 327, 109, 3, 3.5, 4. , 3.508, 1, 0.79),
       (358, 301, 104, 2, 3.5, 3.5, 3.156, 1, 0.68),
       (361, 322, 110, 3, 4. , 5. , 3.456, 1, 0.85),
       (362, 334, 116, 4, 4. , 3.5, 3.816, 1, 0.93),
       (363, 338, 115, 5, 4.5, 5. , 3.692, 1, 0.91),
       (365, 313, 102, 3, 3.5, 4. , 3.56 , 1, 0.77),
       (366, 330, 114, 4, 4.5, 3. , 3.668, 1, 0.86),
       (367, 320, 104, 3, 3.5, 4.5, 3.336, 1, 0.74),
       (370, 301,  98, 1, 2. , 3. , 3.212, 1, 0.67),
       (372, 324, 110, 3, 3.5, 3. , 3.688, 1, 0.89),
       (373, 336, 119, 4, 4.5, 4. , 3.848, 1, 0.95),
       (374, 321, 109, 3, 3. , 3. , 3.416, 1, 0.79),
       (380, 311,  99, 1, 2.5, 3. , 3.372, 1, 0.71),
       (381, 322, 104, 3, 3.5, 4. , 3.536, 1, 0.78),
       (382, 319, 105, 3, 3. , 3.5, 3.468, 1, 0.73),
       (383, 324, 110, 4, 4.5, 4. , 3.66 , 1, 0.82),
       (385, 340, 113, 4, 5. , 5. , 3.896, 1, 0.96),
       (386, 335, 117, 5, 5. , 5. , 3.928, 1, 0.96),
       (390, 320, 108, 3, 3.5, 4. , 3.376, 1, 0.76),
       (393, 326, 112, 4, 4. , 3.5, 3.648, 1, 0.84),
       (395, 329, 111, 4, 4.5, 4. , 3.692, 1, 0.89),
       (396, 324, 110, 3, 3.5, 3.5, 3.616, 1, 0.82),
       (397, 325, 107, 3, 3. , 3.5, 3.644, 1, 0.84),
       (398, 330, 116, 4, 5. , 4.5, 3.78 , 1, 0.91),
       (400, 333, 117, 4, 5. , 4. , 3.864, 1, 0.95)],
      dtype=[('Serial_No', '<i4'), ('GRE_Score', '<i4'), ('TOEFL_Score', '<i4'), ('University_Rating', '<i4'), ('SOP', '<f8'), ('LOR', '<f8'), ('CGPA', '<f8'), ('Research', '<i4'), ('Chance_of_Admit', '<f8')])

In [59]:
# Transformar base por condicion
# filas por condición columna 'Chance_of_Admit']>0.8, sacar promedio de columna 'CGPA'
trans_condChance_of_Admitplus08_columnCGPA = graduate_admission[graduate_admission['Chance_of_Admit']>0.8]['CGPA'].mean()

# filas por condición 'Chance_of_Admit']<0.4, sacar promedio de columna 'CGPA'
trans_condChance_of_Admitless04_columnCGPA  = graduate_admission[graduate_admission['Chance_of_Admit']<0.4]['CGPA'].mean()
print('Promedio CGPA observaciones con Chance_of_Admit > 0.8',trans_condChance_of_Admitplus08_columnCGPA)
print('Promedio CGPA observaciones con Chance_of_Admit < 0.4',trans_condChance_of_Admitless04_columnCGPA)

Promedio CGPA observaciones con Chance_of_Admit > 0.8 3.7106666666666666
Promedio CGPA observaciones con Chance_of_Admit < 0.4 3.0222857142857142

In [60]:
# transformaciones
# filas por condición columna 'Chance_of_Admit']>0.8, sacar promedio de columna 'GRE'
trans_condChance_of_Admitplus08_columnGRE_ScoreProm = graduate_admission[graduate_admission['Chance_of_Admit'] > 0.8]['GRE_Score'].mean()
# filas por condición columna 'Chance_of_Admit']<0.4, sacar promedio de columna 'GRE'
trans_condChance_of_Admitless04_columnGRE_ScoreProm = graduate_admission[graduate_admission['Chance_of_Admit'] < 0.4]['GRE_Score'].mean()

print(graduate_admission[graduate_admission['Chance_of_Admit'] > 0.8]['GRE_Score'].mean())
print(graduate_admission[graduate_admission['Chance_of_Admit'] < 0.4]['GRE_Score'].mean())

328.7350427350427
302.2857142857143

## Reshaping

In [61]:
# crear array 1-9
grid = np.arange(1, 10)
print('original 1x9: ',grid)
print("")
# cambiar formato de array nxm
reshape= grid.reshape(3, 3)
print('reshape 3x3: ',reshape)

original 1x9:  [1 2 3 4 5 6 7 8 9]

reshape 3x3:  [[1 2 3]
 [4 5 6]
 [7 8 9]]

In [62]:
# crear array
x = np.array([1, 2, 3])
# cambiar formato
x.reshape((1, 3))

array([[1, 2, 3]])

In [63]:
x.reshape((3, 1))

array([[1],
       [2],
       [3]])

In [64]:
# crear arrays
x = np.array([1, 2, 3])
y = np.array([3, 2, 1])
# concatenar arrays x+y
conc = np.concatenate([x, y])
z = np.array([99, 99, 99])
print(np.concatenate([x, y, z]),conc)

[ 1  2  3  3  2  1 99 99 99] [1 2 3 3 2 1]

## Strings

In [65]:
# crear diccionario sales_record
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

# crear formato de string
sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

# print   estructura.format(formato['key-n'])  
print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

## Fechas y Tiempo

In [66]:
import datetime as dt
import time as tm

In [67]:
tm.time() # tiempo transcurrido desde Epoch

1692489669.8237503

In [68]:
# convertir objeto timestamp y datetime
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2023, 8, 19, 19, 1, 9, 844505)

In [69]:
# atributos de clase datetime
# año, mes, dia, hora, minuto ,segundo 
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2023, 8, 19, 19, 1, 9)

In [70]:
# delta de tiempo de 100 dias
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(days=100)

In [71]:
# fecha hoy
today = dt.date.today()
today

datetime.date(2023, 8, 19)

In [72]:
# fecha de hoy - delta tiempo
today - delta

datetime.date(2023, 5, 11)

## Función Lambda

In [73]:
funcion_lambda = lambda a, b, c : a + b
funcion_lambda(2,2,1)

4

In [74]:
# iterar sobre lista con for loop
lista = []
for num in range(0, 1000):
    if num % 2 == 0: # num es divisible por 2
        lista.append(num)
print(lista)

# iterar sobre lista con list comprehension
lista2 = []
lista2 = [num for num in range(0,1000) if num % 2 == 0]
print(lista2)

lista==lista2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

True

# Regex

In [75]:
# importar libreria regex
import re

In [76]:
# crear texto
text = "This is a good day."

# buscar patron en texto
# re.search("patron", texto)
if re.search("good", text): 
    print("Wonderful!")
else:
    print("Alas :(")

Wonderful!

In [77]:
# crear texto
text = "Amy works diligently. Amy gets good grades. Our student Amy is succesful."

# split texto en lista, a partir de patron
# re.split(texto,patron) 
re.split("Amy", text)

['',
 ' works diligently. ',
 ' gets good grades. Our student ',
 ' is succesful.']

In [78]:
# contar cuantas veces hay patron en texto
# re.findall(patron, texto)
re.findall("Amy", text)

['Amy', 'Amy', 'Amy']

In [79]:
# crear texto
text = "Amy works diligently. Amy gets good grades. Our student Amy is succesful."

# condicion texto empieza con patron
# re.search("^patron", texto)
re.search("^Amy",text)

## Patrones y Caracteres

In [80]:
# texto
grades="ACAAAABCBCBAA"

# contar veces de caracter en texto
# re.findall("char",texot)
re.findall("B",grades)

['B', 'B', 'B']

In [81]:
# contar veces de varios caracteres 
# re.findall("[char1char2charn]",texto)
print(re.findall("[AB]",grades) )
print(len(re.findall("[AB]",grades)))

['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'A', 'A']
10

In [82]:
# contar veces caracter1, seguido de caracter2 o caracter2
# re.findall("[char1][char2-char3]", texto)

print(re.findall("[A][B-C]",grades) )
print(re.findall("AB|AC",grades))

['AC', 'AB']
['AC', 'AB']

In [83]:
# lista de caracteres excepto patron
# re.findall("[^patron]",texto)
re.findall("[^A]",grades)

['C', 'B', 'C', 'B', 'C', 'B']

## Quantifiers "patron{min,max}"

In [84]:
# contar veces de caracter en secuencia con cuantificador
# re.findall("char{min,max}",texto)
re.findall("A{2,10}",grades)

['AAAA', 'AA']

In [85]:
# si no se incluye el cuantificador en el regex se asume min=max=1
re.findall("AA",grades)

['AA', 'AA', 'AA']

In [86]:
# cuantificador con solo parametro es {min=max=n}
re.findall("A{2}",grades)

['AA', 'AA', 'AA']

## Cuantificadores
 {min,max}
 *: match 0 o más elementos
 ?: match 1 o más elementos
 +: match 1 o más elementos
 [a-zA-Z]: cualquier palabra
 [\w]: cualquier palabra y numero (alfanumerico)

In [87]:
with open("data/ferpa.txt","r") as file:
    # we'll read that into a variable called wiki
        wiki=file.read()
    # and lets print that variable out to the screen
wiki

'Overview[edit]\nFERPA gives parents access to their child\'s education records, an opportunity to seek to have the records amended, and some control over the disclosure of information from the records. With several exceptions, schools must have a student\'s consent prior to the disclosure of education records after that student is 18 years old. The law applies only to educational agencies and institutions that receive funds under a program administered by the U.S. Department of Education.\n\nOther regulations under this act, effective starting January 3, 2012, allow for greater disclosures of personal and directory student identifying information and regulate student IDs and e-mail addresses.[2] For example, schools may provide external companies with a student\'s personally identifiable information without the student\'s consent.[2]\n\nExamples of situations affected by FERPA include school employees divulging information to anyone other than the student about the student\'s grades or behavior, and school work posted on a bulletin board with a grade. Generally, schools must have written permission from the parent or eligible student in order to release any information from a student\'s education record.\n\nThis privacy policy also governs how state agencies transmit testing data to federal agencies, such as the Education Data Exchange Network.\n\nThis U.S. federal law also gave students 18 years of age or older, or students of any age if enrolled in any post-secondary educational institution, the right of privacy regarding grades, enrollment, and even billing information unless the school has specific permission from the student to share that specific type of information.\n\nFERPA also permits a school to disclose personally identifiable information from education records of an "eligible student" (a student age 18 or older or enrolled in a postsecondary institution at any age) to his or her parents if the student is a "dependent student" as that term is defined in Section 152 of the Internal Revenue Code. Generally, if either parent has claimed the student as a dependent on the parent\'s most recent income tax statement, the school may non-consensually disclose the student\'s education records to both parents.[3]\n\nThe law allowed students who apply to an educational institution such as graduate school permission to view recommendations submitted by others as part of the application. However, on standard application forms, students are given the option to waive this right.\n\nFERPA specifically excludes employees of an educational institution if they are not students.\n\nThe act is also referred to as the Buckley Amendment, for one of its proponents, Senator James L. Buckley of New York.\n\nAccess to public records[edit]\nThe citing of FERPA to conceal public records that are not "educational" in nature has been widely criticized, including by the act\'s primary Senate sponsor.[4] For example, in the Owasso Independent School District v. Falvo case, an important part of the debate was determining the relationship between peer-grading and "education records" as defined in FERPA. In the Court of Appeals, it was ruled that students placing grades on the work of other students made such work into an "education record." Thus, peer-grading was determined as a violation of FERPA privacy policies because students had access to other students\' academic performance without full consent.[5] However, when the case went to the Supreme Court, it was officially ruled that peer-grading was not a violation of FERPA. This is because a grade written on a student\'s work does not become an "education record" until the teacher writes the final grade into a grade book.[6]\n\nStudent medical records[edit]\nLegal experts have debated the issue of whether student medical records (for example records of therapy sessions with a therapist at an on-campus counseling center) might be released to the school administration under certain triggering events, such as when a student sued his college or university.[7][8]\n\nUsually, student medical treatment records will remain under the protection of FERPA, not the Health Insurance Portability and Accountability Act (HIPAA). This is due to the "FERPA Exception" written within HIPAA.[9]'

In [88]:
# encontrar cualquier palabra, entre 1 y 100 letras, seguido de patron \[edit\] 
re.findall("[a-zA-Z]{1,100}\[edit\]",wiki)

['Overview[edit]', 'records[edit]', 'records[edit]']

In [89]:
# encontrar cualquier palabra alfanumerica, entre 1 y 100 caracteres, seguido de patron \[edit\]
re.findall("[\w]{1,100}\[edit\]",wiki)

['Overview[edit]', 'records[edit]', 'records[edit]']

In [90]:
# encontrar cualquier palabra alfanumerica, entre 0 y más caracteres, seguido de patron \[edit\]
re.findall("[\w]*\[edit\]",wiki)

['Overview[edit]', 'records[edit]', 'records[edit]']

In [91]:
# encontrar cualquier palabra alfanumerica + espacio, entre 0 y más caracteres, seguido de patron \[edit\]
re.findall("[\w ]*\[edit\]",wiki)

['Overview[edit]',
 'Access to public records[edit]',
 'Student medical records[edit]']

In [92]:
# iterar sobre titulos en regex
# regex: encontrar cualquier palabra alfanumerica + espacio, entre 0 y más caracteres, seguido de patron \[edit\]
for title in re.findall("[\w ]*\[edit\]",wiki):
    # split titulo de cada regex con patron [\[]
    # tomar primer elemento
    print(re.split("[\[]",title)[0])

Overview
Access to public records
Student medical records

## Grupos de regex

In [93]:
# encontrar varios regex/grupos de regex
# re.findall("(patron1)(patron2)")
re.findall("([\w ]*)(\[edit\])",wiki)

[('Overview', '[edit]'),
 ('Access to public records', '[edit]'),
 ('Student medical records', '[edit]')]

In [94]:
# re.finditer("(patron1)(patron2)") lista de matchs

# regex=  (cualquier palabra + espacio)(\[edit\])
# iterar sobre lista de match
for item in re.finditer("([\w ]*)(\[edit\])",wiki):
    print(item.groups())

('Overview', '[edit]')
('Access to public records', '[edit]')
('Student medical records', '[edit]')

In [95]:
print(item.groupdict())

{}

In [96]:

# # match 2 grupos
# # primer grupo es title
# # segundo grupo es [edit]
# for item in re.finditer("(?P<title>[\w ]+)(?=\[edit\])",wiki):
#     # What this regex says is match two groups, the first will be named and called title, will have any amount
#     # of whitespace or regular word characters, the second will be the characters [edit] but we don't actually
#     # want this edit put in our output match objects
#     print(item)

In [8]:
# # We can see that each university follows a fairly similar pattern, with the name followed by an – then the
# # words "located in" followed by the city and state

# # I'll actually use this example to show you the verbose mode of python regexes. The verbose mode allows you
# # to write multi-line regexes and increases readability. For this mode, we have to explicitly indicate all
# # whitespace characters, either by prepending them with a \ or by using the \s special value. However, this
# # means we can write our regex a bit more like code, and can even include comments with #
# pattern="""
# (?P<title>.*)        #the university title
# (–\ located\ in\ )   #an indicator of the location
# (?P<city>\w*)        #city the university is in
# (,\ )                #separator for the state
# (?P<state>\w*)       #the state the city is located in"""

# # Now when we call finditer() we just pass the re.VERBOSE flag as the last parameter, this makes it much
# # easier to understand large regexes!
# for item in re.finditer(pattern,wiki,re.VERBOSE):
#     # We can get the dictionary returned for the item with .groupdict()
#     print(item.groupdict())

## New York Times y Hashtags

In [ ]:
# with open("data/nytimeshealth.txt","r") as file:
#     # We'll read everything into a variable and take a look at it
#     health=file.read()
# health

In [9]:
# # So lets create a pattern. We want to include the hash sign first, then any number of alphanumeric
# # characters. And we end when we see some whitespace
# pattern = '#[\w\d]*(?=\s)'

# # Notice that the ending is a look ahead. We're not actually interested in matching whitespace in the return
# # value. Also notice that I use an asterix * instead of the plus + for the matching of alphabetical characters
# # or digits, because a + would require at least one of each

# # Lets searchg and display all of the hashtags
# re.findall(pattern, health)

# DataFrames

## Series

Array 1D de pandas de data con indices asociados a las posiciones

In [377]:
# crear Serie de pandas
serie1 = pd.Series([0.25, 0.5, 0.75, 1.0])
serie1

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [378]:
# valores de la Serie
serie1.values

array([0.25, 0.5 , 0.75, 1.  ])

In [379]:
# index de Serie
serie1.index

RangeIndex(start=0, stop=4, step=1)

In [380]:
# crear Serie de Pandas
data1 = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data1['b']

0.5

In [381]:
# crear Serie con indices no secuenciales
data2 = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data2

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [382]:
# crear Serie como dict  {'key':'vaue'}
population_dict = {'California': 39538223, 'Texas': 29145505,
                   'Florida': 21538187, 'New York': 20201249,
                   'Pennsylvania': 13002700}
population = pd.Series(population_dict)
population

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
dtype: int64

In [383]:
# operaciones de slicing de arrays
population['California':'Florida']

California    39538223
Texas         29145505
Florida       21538187
dtype: int64

In [384]:
ser1 = pd.Series([2, 4, 6])
ser2 = pd.Series(5, index=[100, 200, 300])
ser2

100    5
200    5
300    5
dtype: int64

In [385]:
ser3 = pd.Series({2:'a', 1:'b', 3:'c'})
ser3

2    a
1    b
3    c
dtype: object

## DataFrames

In [97]:
# crear Serie de Estados como dict {'key':val}
area_dict = {'California': 423967, 'Texas': 695662, 'Florida': 170312, 
             'New York': 141297, 'Pennsylvania': 119280}
area = pd.Series(area_dict)
area

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
dtype: int64

In [388]:
# crear DataFrame como dict  
states = pd.DataFrame({'population': population,
                       'area': area})
states

              population    area
California      39538223  423967
Texas           29145505  695662
Florida         21538187  170312
New York        20201249  141297
Pennsylvania    13002700  119280

In [389]:
# seleccionar columna 'population'
states['population'] # seleccionar por nombre de columna

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
Name: population, dtype: int64

In [390]:
states.loc[:,'population'] # seleccionar por slicing

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
Name: population, dtype: int64

In [391]:
states.population # seleccionar por columna

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
Name: population, dtype: int64

In [392]:
states.iloc[:,0] # seleccionar por indice

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
Name: population, dtype: int64

In [393]:
# slicing por filas 
states.iloc[0,:]

population    39538223
area            423967
Name: California, dtype: int64

In [394]:
# slicing por columnas
states.iloc[:,0]

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
Name: population, dtype: int64

In [395]:
# slicing filas
states.iloc[2:4,:]

          population    area
Florida     21538187  170312
New York    20201249  141297

In [396]:
# indice de DataFrame 
states.index

Index(['California', 'Texas', 'Florida', 'New York', 'Pennsylvania'], dtype='object')

In [397]:
# columnas de DataFrame
states.columns

Index(['population', 'area'], dtype='object')

## Construir objetos DataFrame

In [398]:
# construir DataFrame de 1 Serie 
pd.DataFrame(population, columns=['population'])

              population
California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700

In [399]:
# construir DataFrame de lista de dict
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [400]:
# NAN = Not A  Number
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [401]:
# construir DataFrame de lista de dict de Series
pd.DataFrame({'population': population,
              'area': area})

              population    area
California      39538223  423967
Texas           29145505  695662
Florida         21538187  170312
New York        20201249  141297
Pennsylvania    13002700  119280

In [402]:
# construir DataFrame de numpy array 2D
# definir nombre de columnas
# definir indice
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.794299  0.915694
b  0.484209  0.433148
c  0.482931  0.101635

In [403]:
# construir DataFrame de array estructurado
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## Objeto Index 

Array inmutable - set ordenado

In [404]:
# crear objeto Index
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [405]:
ind[1]

3

In [406]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [407]:
# crear Index
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
indB

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [408]:
# interseccion entre indices
# indA n indB
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [409]:
# union entre indices
# indA u indB
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [410]:
indA.symmetric_difference(indB)

Int64Index([1, 2, 9, 11], dtype='int64')

In [411]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [412]:
# crear Series como lista de float, index 
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [413]:
# acceder a Serie por index
data['b']

0.5

In [414]:
# usar expresiones de dict para ver keys/indices y valores
'a' in data

True

In [415]:
# keys de Serie como dict
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [416]:
# lista de tuplas (key,value) en Serie como dict
list(data.items())
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [417]:
# crear tupla key-value
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [418]:
# slicing por indices
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [419]:
# slicing por numero de indice
data[0:2]
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [420]:
# masking: mascara sobre Serie por condicion
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [421]:
# fancy indexing
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

In [422]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [423]:
# indexing por numero
data[1]

'a'

In [424]:
# indexing al hacer slicing
data[1:3]
data

1    a
3    b
5    c
dtype: object

In [425]:
# loc atributo que hacer indexing y slicing a indice numerico
# obtener valor de indice
data.loc[1]

'a'

In [426]:
# loc  indexing y slicing con indice por numero
data.loc[1:3]

1    a
3    b
dtype: object

In [427]:
# iloc  indexing y slicing con indice por array
data.iloc[1]

'b'

In [428]:
# iloc  indexing y slicing con indice por array
data.iloc[1:3]

3    b
5    c
dtype: object

In [429]:
# crear Serie comom dict {'key':'value}
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'Florida': 170312, 'New York': 141297,
                  'Pennsylvania': 119280})
# crear Serie comom dict {'key':'value}
pop = pd.Series({'California': 39538223, 'Texas': 29145505,
                 'Florida': 21538187, 'New York': 20201249,
                 'Pennsylvania': 13002700})
# crear DataFrame como dict con valores de Series
data = pd.DataFrame({'area':area, 'pop':pop})
data

                area       pop
California    423967  39538223
Texas         695662  29145505
Florida       170312  21538187
New York      141297  20201249
Pennsylvania  119280  13002700

In [430]:
# indexing por nombre columna (acceder a Serie)
data['area']

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
Name: area, dtype: int64

In [431]:
# indexing con atributo por columna
data.area

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
Name: area, dtype: int64

In [432]:
# crear nueva columna a partir de otras columnas
data['density'] = data['pop'] / data['area']
data

                area       pop     density
California    423967  39538223   93.257784
Texas         695662  29145505   41.896072
Florida       170312  21538187  126.463121
New York      141297  20201249  142.970120
Pennsylvania  119280  13002700  109.009893

In [433]:
data

                area       pop     density
California    423967  39538223   93.257784
Texas         695662  29145505   41.896072
Florida       170312  21538187  126.463121
New York      141297  20201249  142.970120
Pennsylvania  119280  13002700  109.009893

In [434]:
data.values

array([[4.23967000e+05, 3.95382230e+07, 9.32577842e+01],
       [6.95662000e+05, 2.91455050e+07, 4.18960717e+01],
       [1.70312000e+05, 2.15381870e+07, 1.26463121e+02],
       [1.41297000e+05, 2.02012490e+07, 1.42970120e+02],
       [1.19280000e+05, 1.30027000e+07, 1.09009893e+02]])

In [435]:
# matriz transpuesta de DataFrame
data.T

           California         Texas       Florida      New York  Pennsylvania
area     4.239670e+05  6.956620e+05  1.703120e+05  1.412970e+05  1.192800e+05
pop      3.953822e+07  2.914550e+07  2.153819e+07  2.020125e+07  1.300270e+07
density  9.325778e+01  4.189607e+01  1.264631e+02  1.429701e+02  1.090099e+02

In [98]:
# crear Series como dict
record1 = pd.Series({'Name': 'Alice',
                        'Class': 'Physics',
                        'Score': 85})
record2 = pd.Series({'Name': 'Jack',
                        'Class': 'Chemistry',
                        'Score': 82})
record3 = pd.Series({'Name': 'Helen',
                        'Class': 'Biology',
                        'Score': 90})

record1,record2,record3

(Name       Alice
 Class    Physics
 Score         85
 dtype: object,
 Name          Jack
 Class    Chemistry
 Score           82
 dtype: object,
 Name       Helen
 Class    Biology
 Score         90
 dtype: object)

In [437]:
# crear DataFrame([Series],index[i])
df = pd.DataFrame([record1, record2, record3],
                  index=['school1', 'school2', 'school1'])

df

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Helen    Biology     90

In [438]:
# crear DataFrame como lista de dict
# dict de cada fila

students = [{'Name': 'Alice',
              'Class': 'Physics',
              'Score': 85},
            {'Name': 'Jack',
             'Class': 'Chemistry',
             'Score': 82},
            {'Name': 'Helen',
             'Class': 'Biology',
             'Score': 90}]

# crear DataFrame (lista de dict, index=[i])
df = pd.DataFrame(students, index=['school1', 'school2', 'school1'])
# And lets print the head again
df

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Helen    Biology     90

In [439]:
# extraer fila[indice]
df.loc['school2']
df.loc['school1']

          Name    Class  Score
school1  Alice  Physics     85
school1  Helen  Biology     90

In [440]:
# extraer fila,columna
df.loc['school1', 'Name']

school1    Alice
school1    Helen
Name: Name, dtype: object

In [441]:
# transponer =cambiar indices-nombre columnas
df.T

       school1    school2  school1
Name     Alice       Jack    Helen
Class  Physics  Chemistry  Biology
Score       85         82       90

In [442]:
# extraer columna
df['Name'],type(df['Name'])

(school1    Alice
 school2     Jack
 school1    Helen
 Name: Name, dtype: object,
 pandas.core.series.Series)

In [443]:
# extraer [fila][columna]
df.loc['school1']['Name']

school1    Alice
school1    Helen
Name: Name, dtype: object

In [444]:
# extraer todas las filas, columnas[]
df.loc[:,['Name','Score']]

          Name  Score
school1  Alice     85
school2   Jack     82
school1  Helen     90

In [445]:
# crear nuevo DataFrame con fila eliminada
df.drop('school1')

         Name      Class  Score
school2  Jack  Chemistry     82

In [446]:
df

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Helen    Biology     90

In [447]:
# copia de DataFrame
copy_df = df.copy()
# drop columna "column", inplace=True, axis=1[columna]
copy_df.drop("Name", inplace=True, axis=1)
copy_df

             Class  Score
school1    Physics     85
school2  Chemistry     82
school1    Biology     90

In [448]:
# eliminar columna con indexing
del df['Class']

In [449]:
df

          Name  Score
school1  Alice     85
school2   Jack     82
school1  Helen     90

In [450]:
# crear nueva columna
df['ClassRanking'] =  None
df

          Name  Score ClassRanking
school1  Alice     85         None
school2   Jack     82         None
school1  Helen     90         None

## Indexing

In [453]:
# cargar base de datos Admission_Predict
df = pd.read_csv('data/Admission_Predict.csv')

# visualizar datos
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [99]:
# cargar base de datos .csv
# index_col=0  asigna primera columna como indice
df = pd.read_csv('data/Admission_Predict.csv', index_col=0)
#df.set_index('Serial No.',inplace=True)
df
#read_csv('datasets/Admission_Predict.csv', index_col=0)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
399,312,103,3,3.5,4.0,8.78,0,0.67
400,333,117,4,5.0,4.0,9.66,1,0.95

In [100]:
# cambiar nombre de columnas

# df.rename(columns={'columna anterior':'columna nueva'})
new_df=df.rename(columns={'GRE Score':'GRE Score', 'TOEFL Score':'TOEFL Score',
                   'University Rating':'University Rating', 
                   'SOP': 'Statement of Purpose','LOR': 'Letter of Recommendation',
                   'CGPA':'CGPA', 'Research':'Research',
                   'Chance of Admit':'Chance of Admit'})
new_df.head()

,GRE Score,TOEFL Score,University Rating,Statement of Purpose,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [101]:
# columnas de nuevo DataFrame
new_df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'Statement of Purpose',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [102]:
# cambiar columnas, incluir espacio
new_df=new_df.rename(columns={'LOR ': 'Letter of Recommendation'})
new_df.head()

,GRE Score,TOEFL Score,University Rating,Statement of Purpose,Letter of Recommendation,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [105]:
# cambiar nombre de las columnas, aplicar strip (quitar espacios) a los nombres de columnas 
new_df=new_df.rename(mapper=str.strip, axis='columns')
# Let's take a look at results
print(new_df.columns)
new_df

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'Statement of Purpose',
       'Letter of Recommendation', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

,GRE Score,TOEFL Score,University Rating,Statement of Purpose,Letter of Recommendation,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
399,312,103,3,3.5,4.0,8.78,0,0.67
400,333,117,4,5.0,4.0,9.66,1,0.95

In [108]:
# crear lista de nombre de columnas
cols = list(df.columns)

# list comprehension= for simplificado
# obj= [action for x in obj]
cols = [x.lower().strip() for x in cols] # pasar nombres de columnas a minuscula y separar
df.columns = cols
df

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
399,312,103,3,3.5,4.0,8.78,0,0.67
400,333,117,4,5.0,4.0,9.66,1,0.95

# Manipulación

* chaining: varios métodos en cadena
* apply: aplicar metodo a DataFrame axis=1 filas, axis=0 columnas
* función lambda: aplicar función lambda axis=1 filas, axis=0 columnas
*

In [4]:
dfs=pd.read_html("https://en.wikipedia.org/wiki/College_admissions_in_the_United_States")
len(dfs)
dfs

[    0                                                  1
 0 NaN  This article has multiple issues. Please help ...
 1 NaN  This article contains instructions, advice, or...
 2 NaN  This article may contain an excessive amount o...,
     0                                                  1
 0 NaN  This article contains instructions, advice, or...,
     0                                                  1
 0 NaN  This article may contain an excessive amount o...,
    Unnamed: 0_level_0 Total (56 institutions)                     \
    Unnamed: 0_level_1      Unnamed: 1_level_1 Unnamed: 2_level_1
     Admit Year (Fall)                    Apps             Admits
 0                2001                  645111             198815
 1                2002                  650908             202565
 2                2003                  681989             206423
 3                2004                  699074             207238
 4                2005                  737493             213865
 5                2006                  773374             217846
 6                2007                  822156             220200
 7                2008                  900502             225242
 8                2009                  945442             237141
 9                2010                 1005061             241971
 10               2011                 1081719             242188
 11               2012                 1122097             239371
 12               2013                 1197549             237696
 13               2014                 1279412             242628
 14               2015                 1325730             240687
 15               2016                 1390056             242910
 16               2017                 1451021             238317
 17               2018                 1588286             225082
 18               2019                 1635975             213999
 19               2020                 1602944             235872
 20               2021                 1992872             226931
 21               2022                 2092503             203618

                                                              \
    Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
                Enroll        Admit  rate      Admit: enroll
 0               79872              30.8%               2.49
 1               82026              31.1%               2.47
 2               82544              30.3%               2.50
 3               83682              29.6%               2.48
 4               83591              29.0%               2.56
 5               83900              28.2%               2.60
 6               85740              26.8%               2.57
 7               85678              25.0%               2.63
 8               87201              25.1%               2.72
 9               88208              24.1%               2.74
 10              88691              22.4%               2.73
 11              89921              21.3%               2.66
 12              89586              19.8%               2.65
 13              92713              19.0%               2.62
 14              92548              18.2%               2.60
 15              95213              17.5%               2.55
 16              96667              16.4%               2.47
 17              96815              14.2%               2.32
 18              95601              13.1%               2.24
 19              95900              14.7%               2.46
 20             105549              11.4%               2.15
 21              99721               9.7%               2.04

                                                                                                                                                                       27 private universities  \
    Ivy League, Stanford, MIT, UChicago, Duke, Northwestern, Vanderbilt, Johns Hopkins, Rice, USC, WashU, Tulane, Tufts, Georgetown, Carnegie Mellon, Notre Dame, Emory, NYU, BU, Northeastern
                                                                                                                                                                                          Apps
 0                                              415855
 1                                              418230
 2                                              439502
 3                                              453319
 4                                              484023
 5                                              516292
 6                                              543558
 7                                              600623
 8                                              636650
 9                                              686095
 10                                             736860
 11                                             763233
 12                                             803031
 13                                             837455
 14                                             859126
 15                                             899097
 16                                             928973
 17                                            1019631
 18                                            1056382
 19                                            1026587
 20                                            1287398
 21                                            1328415

                                ...  \
                                ...
     Admits Enroll Admit  rate  ...
 0   120124  46931       28.9%  ...
 1   123779  48626       29.6%  ...
 2   126504  49491       28.8%  ...
 3   126441  49615       27.9%  ...
 4   132750  49982       27.4%  ...
 5   135568  49507       26.3%  ...
 6   135918  50250       25.0%  ...
 7   140741  50180       23.4%  ...
 8   148566  51285       23.3%  ...
 9   151404  51658       22.1%  ...
 10  147538  52383       20.0%  ...
 11  143454  52109       18.8%  ...
 12  141634  51826       17.6%  ...
 13  142789  53096       17.1%  ...
 14  140416  52895       16.3%  ...
 15  139467  53542       15.5%  ...
 16  135173  54826       14.6%  ...
 17  123734  54771       12.1%  ...
 18  115137  53580       10.9%  ...
 19  128793  54022       12.5%  ...
 20  120928  59870        9.4%  ...
 21  105240  55044        7.9%  ...

                                           6 public universities                \
    UCLA, UC Berkeley, Georgia Tech, UNC-Chapel Hill, UMich, UVA
                                                            Apps Admits Enroll
 0                                              138627            49041  22110
 1                                              141166            49377  22264
 2                                              146165            50209  22262
 3                                              144258            50923  23169
 4                                              147507            51430  22639
 5                                              148794            52343  23589
 6                                              163374            54788  24637
 7                                              172826            54634  24347
 8                                              186771            58364  24830
 9                                              192770            59986  25175
 10                                             210869            64962  25092
 11                                             221000            66400  26537
 12                                             253272            67242  26461
 13                                             298332            70493  28230
 14                                             312640            70418  28160
 15                                             332971            74255  30204
 16                                             355081            73976  30301
 17                                             384589            71763  30236
 18                                             383853            70249  30380
 19                                             388086            76419  30872
 20                                             479225            76115  32857
 21                                             521057            70094  32493

                               \

    Admit  rate Admit: enroll
 0        35.4%          2.22
 1        35.0%          2.22
 2        34.4%          2.26
 3        35.3%          2.20
 4        34.9%          2.27
 5        35.2%          2.22
 6        33.5%          2.22
 7        31.6%          2.24
 8        31.2%          2.35
 9        31.1%          2.38
 10       30.8%          2.59
 11       30.0%          2.50
 12       26.5%          2.54
 13       23.6%          2.50
 14       22.5%          2.50
 15       22.3%          2.46
 16       20.8%          2.44
 17       18.7%          2.37
 18       18.3%          2.31
 19       19.7%          2.48
 20       15.9%          2.32
 21       13.5%          2.16

                                                                                                                                                                                                              23 liberal arts colleges  \
    Pomona, Claremont McK, Swarthmore, Bowdoin, Amherst, Williams, Colby, Barnard, Pitzer, Bates, Harvey Mudd, Colorado Coll, Middlebury, Wesleyan, Hamilton, Haverford, Carleton, Davidson, Wellesley, W&L, Colgate, Grinnell, Vassar
                                                                                                                                                                                                                                  Apps
 0                                               90629
 1                                               91512
 2                                               96322
 3                                              101497
 4                                              105963
 5                                              108288
 6                                              115224
 7                                              127053
 8                                              122021
 9                                              126196
 10                                             133990
 11                                             137864
 12                                             141246
 13                                             143625
 14                                             153964
 15                                             157988
 16                                             166967
 17                                             184066
 18                                             195740
 19                                             188271
 20                                             226249
 21                                             243031



    Admits Enroll Admit  rate Admit: enroll
 0   29650  10831       32.7%          2.74
 1   29409  11136       32.1%          2.64
 2   29710  10791       30.8%          2.75
 3   29874  10898       29.4%          2.74
 4   29685  10970       28.0%          2.71
 5   29935  10804       27.6%          2.77
 6   29494  10853       25.6%          2.72
 7   29867  11151       23.5%          2.68
 8   30211  11086       24.8%          2.73
 9   30581  11375       24.2%          2.69
 10  29688  11216       22.2%          2.65
 11  29517  11275       21.4%          2.62
 12  28820  11299       20.4%          2.55
 13  29346  11387       20.4%          2.58
 14  29853  11493       19.4%          2.60
 15  29188  11467       18.5%          2.55
 16  29168  11540       17.5%          2.53
 17  29585  11808       16.1%          2.51
 18  28613  11641       14.6%          2.46
 19  30660  11006       16.3%          2.79
 20  29888  12822       13.2%          2.33
 21  28284  12184       11.6%          2.32

 [22 rows x 21 columns],
          School     Cost
 0   Harvey Mudd  $77,589
 1    U. Chicago  $77,556
 2      Columbia  $76,920
 3       Barnard  $75,524
 4          Duke  $75,031
 5       Scripps  $74,788
 6       Trinity  $74,400
 7           USC  $74,111
 8       U. Penn  $73,960
 9       Amherst  $73,950
 10   Georgetown  $73,882,
          College  Index
 0      UC-Irvine   1.90
 1    UC-SantaBar   1.61
 2       UC-Davis   1.60
 3   UC-San Diego   1.58
 4           UCLA   1.52
 5      U.Florida   1.46
 6        Amherst   1.44
 7         Pomona   1.43
 8    UC-Berkeley   1.38
 9        Harvard   1.36
 10        Vassar   1.36
 11      Williams   1.35
 12     Princeton   1.34
 13     Wellesley   1.32
 14      Stanford   1.31
 15          Knox   1.30
 16    UNC-Chapel   1.30
 17      Columbia   1.26
 18       Barnard   1.25
 19          Yale   1.22,
      College Students
 0       UCLA      19%
 1      Emory      16%
 2    Barnard      15%
 3        NYU      14%
 4     Vassar      14%
 5  Bryn Mawr      14%
 6        MIT      14%
 7   U. Miami      14%
 8   Brandeis      13%
 9  Wellesley      13%,
                                                    0  \
 0                                           ACT test
 1                            Content-based test[106]
 2                    Emphasizes higher math[81][106]
 3                              Longer questions[106]
 4               More popular in south & midwest[106]
 5                     Science reasoning section[106]
 6                  No penalty for wrong answers[107]
 7  Greater choice in selecting which scores to se...
 8     Difficult questions randomly interspersed[106]

                                                 1
 0                                        SAT test
 1                    Tests reasoning ability[106]
 2                  Emphasizes vocabulary[81][106]
 3                         Trickier questions[106]
 4                More popular in east & west[106]
 5                         Vocabulary section[106]
 6          No penalty for wrong answers[108][109]
 7                                   Fewer options
 8  Difficulty progresses within each section[106]  ,
                        School Appli cants Over all     ED     EA RD[191]  \
 0                Harvard[192]       57435    3.42%    NaN   7.4%   2.58%
 1               Columbia[193]       60551    3.66%  15.0%    NaN   2.78%
 2                Caltech[194]       13017    3.91%    NaN    NaN     NaN
 3               Stanford[195]       55471    3.95%    NaN    NaN     NaN
 4              Princeton[196]       37601    3.98%    NaN    NaN   3.98%
 5                    MIT[197]       33240     4.0%    NaN   4.8%   3.41%
 6                   Yale[198]       46905    4.62%    NaN  10.5%   3.42%
 7                  Brown[199]       46568    5.44%  15.9%    NaN    3.5%
 8                   Duke[200]       49517    5.76%  16.7%    NaN   4.28%
 9                  UPenn[201]       56333    5.68%  14.9%    NaN   4.15%
 10             Dartmouth[202]       28357    6.17%  22.1%    NaN    4.5%
 11  UChicago[citation needed]       37986    6.33%      -      -       -
 12        Pomona College[203]       11620    6.64%  12.8%      -   5.65%
 13                 Vanderbilt       47174    6.70%  18.1%    NaN    5.3%
 14          Northwestern[204]       47633    6.79%      -    NaN       -
 15            Swarthmore[205]     ~13,000    ~7.8%      -    NaN       -

     Unnamed: 6
 0          NaN
 1          NaN
 2          NaN
 3          NaN
 4          NaN
 5          NaN
 6          NaN
 7          NaN
 8          NaN
 9          NaN
 10         NaN
 11         NaN
 12         NaN
 13         NaN
 14         NaN
 15         NaN  ,
              College  Wait list offers Class  of 2021  \
 0           Stanford                              842
 1          Princeton                             1168
 2          Dartmouth                             2021
 3              UPenn                             3457
 4                CMC                              723
 5             Tulane                             5596
 6           Michigan                            11094
 7                UNC                             5097
 8           Wesleyan                             2267
 9                CMU                             5609
 10        Macalester                              356
 11      Cal Poly SLO                             3168
 12  UC Santa Barbara                             6650
 13      UC Riverside                             5499
 14        Holy Cross                             1109
 15            Oregon                              134

     Wait list admits Class  of 2021  Wait list offers Class  of 2022  \
 0                                36                              870
 1                               101                             1125
 2                                 0                             1925
 3                                58                             3535
 4                                 1                             1037
 5                                 0                            10384
 6                               468                            14893
 7                                35                             4977
 8                               108                             1965
 9                                 4                             3677
 10                              104                              426
 11                               15                             6643
 12                              960                             7856
 13                              321                            11058
 14                                0                             1581
 15                               73                              264

     Wait list admits Class  of 2022
 0                                30
 1                                 0
 2                                 0
 3                                 9
 4                                25
 5                                 2
 6                               415
 7                                22
 8                                 0
 9                               109
 10                                0
 11                             2436
 12                               14
 13                             1143
 14                                0
 15                               69  ]

In [5]:
df = pd.read_csv('data/census.csv')
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [6]:
# chaining

# where(condicion) filas con condicion ['SUMLEV']==50
# dropna() quitar NA's
# set_index([columns] determinar indice como columnas ['STNAME','CTYNAME']
# rename(columns={'old_column':'new_column'})    cambiar nombre de columnas 

(df.where(df['SUMLEV']==50)
    .dropna()
    .set_index(['STNAME','CTYNAME'])
    .rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'}))

df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [7]:
# metodos 'manual'
df = df[df['SUMLEV']==50] # filas por condicion ['SUMLEV']==50
df.set_index(['STNAME','CTYNAME'], inplace=True) # determinar indices  ['STNAME','CTYNAME']
df.rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'}) # cambiar nombres de columnas

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County         50       3         6      1       1
        Baldwin County         50       3         6      1       3
        Barbour County         50       3         6      1       5
        Bibb County            50       3         6      1       7
        Blount County          50       3         6      1       9
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County      50       4         8     56      37
        Teton County           50       4         8     56      39
        Uinta County           50       4         8     56      41
        Washakie County        50       4         8     56      43
        Weston County          50       4         8     56      45

                           CENSUS2010POP  Estimates Base 2010  \
STNAME  CTYNAME
Alabama Autauga County             54571                54571
        Baldwin County            182265               182265
        Barbour County             27457                27457
        Bibb County                22915                22919
        Blount County              57322                57322
...                                  ...                  ...
Wyoming Sweetwater County          43806                43806
        Teton County               21294                21294
        Uinta County               21118                21118
        Washakie County             8533                 8533
        Weston County               7208                 7208

                           POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
STNAME  CTYNAME
Alabama Autauga County               54660            55253            55175
        Baldwin County              183193           186659           190396
        Barbour County               27341            27226            27159
        Bibb County                  22861            22733            22642
        Blount County                57373            57711            57776
...                                    ...              ...              ...
Wyoming Sweetwater County            43593            44041            45104
        Teton County                 21297            21482            21697
        Uinta County                 21102            20912            20989
        Washakie County               8545             8469             8443
        Weston County                 7181             7114             7065

                           ...  RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME            ...
Alabama Autauga County     ...          7.242091         -2.915927
        Baldwin County     ...         14.832960         17.647293
        Barbour County     ...         -4.728132         -2.500690
        Bibb County        ...         -5.527043         -5.068871
        Blount County      ...          1.807375         -1.177622
...                        ...               ...               ...
Wyoming Sweetwater County  ...          1.072643         16.243199
        Teton County       ...         -1.589565          0.972695
        Uinta County       ...        -17.755986         -4.916350
        Washakie County    ...        -11.637475         -0.827815
        Weston County      ...        -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

In [9]:
# apply: aplicar función a DataFrame
# axis=1 filas, axis=0 columnas

# función min_max
# aplicar min_max sobre columnas ['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']
# returns Serie min, max
def min_max(fila):
    data = fila[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})

# aplicar función min_max
# df.apply(funcion, axis) 
df.apply(min_max, axis=1)

                                min       max
STNAME  CTYNAME
Alabama Autauga County      54660.0   55347.0
        Baldwin County     183193.0  203709.0
        Barbour County      26489.0   27341.0
        Bibb County         22512.0   22861.0
        Blount County       57373.0   57776.0
...                             ...       ...
Wyoming Sweetwater County   43593.0   45162.0
        Teton County        21297.0   23125.0
        Uinta County        20822.0   21102.0
        Washakie County      8316.0    8545.0
        Weston County        7065.0    7234.0

[3142 rows x 2 columns]

In [16]:
# columnas sobre las que se aplica la función lamba
rows = ['POPESTIMATE2010',
        'POPESTIMATE2011',
        'POPESTIMATE2012',
        'POPESTIMATE2013',
        'POPESTIMATE2014',
        'POPESTIMATE2015']

# aplicar función lambda 

# lambda
# funcion: np.max(x[rows]
# axis=1: filas 
df.apply(lambda x: np.max(x[rows]), axis=1)

0       4858979
1         55347
2        203709
3         27341
4         22861
         ...
3188      45162
3189      23125
3190      21102
3191       8545
3192       7234
Length: 3193, dtype: int64

In [17]:
df = pd.read_csv('data/census.csv')

# función región
# returns región de cada estado

def get_state_region(x):
    northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 
                 'Rhode Island','Vermont','New York','New Jersey','Pennsylvania']
    midwest = ['Illinois','Indiana','Michigan','Ohio','Wisconsin','Iowa',
               'Kansas','Minnesota','Missouri','Nebraska','North Dakota',
               'South Dakota']
    south = ['Delaware','Florida','Georgia','Maryland','North Carolina',
             'South Carolina','Virginia','District of Columbia','West Virginia',
             'Alabama','Kentucky','Mississippi','Tennessee','Arkansas',
             'Louisiana','Oklahoma','Texas']
    west = ['Arizona','Colorado','Idaho','Montana','Nevada','New Mexico','Utah',
            'Wyoming','Alaska','California','Hawaii','Oregon','Washington']
    
    if x in northeast:
        return "Northeast"
    elif x in midwest:
        return "Midwest"
    elif x in south:
        return "South"
    else:
        return "West"
    
    
df['state_region'] = df['STNAME'].apply(lambda x: get_state_region(x))
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,state_region
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594,South
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333,South
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499,South
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299,South
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195,West
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747,West
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351,West
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961,West
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294,West

# Merging 

merge() para manipular conjuntos Sets A-B

union   parametro how= 'outer' pd.merge(A, B, how = 'outer', left_index = True, right_index = True)

interseccion  parametro how= 'inner'  pd.merge(A, B, how = 'inner', left_index = True, right_index = True)

addicion de todos los elementos de A asi esten en interseccion

pd.merge(A, B, how = 'left', left_index = True, right_index = True)

merge() pero utilizando columnas en especifico para hacer merge

pd.merge(staff_df, std_df, how = 'right', on='Name')

concat()  to concatenate DataFrames

df_list = [df_A, df_B]

pd.concat(df_list)

In [462]:
# crear DataFrames
staff_df = pd.DataFrame([{'Name':'Kelly', 'Role':'Director of HR'},
                        {'Name':'Sally', 'Role':'Course liasion'},
                        {'Name':'James', 'Role':'Grader'}])
# create students df
std_df = pd.DataFrame([{'Name':'James', 'School':'Business'},
                      {'Name':'Mike', 'School':'Law'},
                      {'Name':'Sally', 'School':'Engineering'}])
# index staff by column Name
staff_df = staff_df.set_index('Name')
std_df = std_df.set_index('Name')

print(staff_df)
print(std_df)

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

# Funciones y Manipulación de DataFranes

DataFrames Functions and Manipulation


Merging DataFrames: unir DataFrame (union, intersection) by column

Apply function:  df.apply(function, axis='columns'),  aplicar function a un DataFrame

Lambda function

lambda:  df.apply(lambda x: method(x[rows]), axis=1),  aplicar function a rows
del DataFrame

Method chain, to condense multiple operations on a DataFrame

Pandas Idioms
df.where(),  filtra el DataFrame con condiciones, si no cumple entonces value NaN ( hay que hacer df.dropnan() manual)

df.where() NO CAMBIA EL DataFrame original, solo crea una instancia del anterior

df.dropnan(),  para quitar las filas con NaN

df.set_index(key='column'),  para hacer index del DataFrame una columna

df.rename(columns={'key_old':'key_new'})),  cambiar los key de las columnas


Groupby(),  agrupar DataFrame por columnas (set index)

groupby(),  for column, projected DataFrame 

for group, frame in df.groupby(['STNAME']):  
    avg = np.average(frame['CENSUS2010POP'])
    print(group, str(avg) ) 
    
aggregate() parametro  df.aggregate({column1:method_n, column2:method_n}),  returns DataFrame con columnas column-n, aplicando el metodo method-n

filter() df.filter(lambda  x: method(x:['column'])),  filtrar valores sobre columnas del DataFrame

apply() df.apply(method),  aplica un metodo sobre todo el DataFrame

df.groupby([column]),  agrupar DataFrame por columnas(set index)

groupby([column])

value frame es projected DataFrame del metodo

for group, frame in df.groupby([column]):
    # print(group, str(avg) ) 
    
Aggregation(),  returns DataFrame en las columnas columns-n, aplicando las funciones a las respectivas columnas

df.aggregate({'column-n':(function-n)})

Transformation(),  returns DataFrame con function aplicada

trans_df = df[cols].groupby(column).transform(function)

Filter(), filtra DataFrame aplicando lambda function on condition (function)

df.filter(lambda x: function(x[columns, on condition])>X)

Pivot Table: sub-table de DataFrame, usando aggfunc=[func-n], values = vals,
index = column_index, columns = columns_cols

multiple aggfunc() using pivot_table

piv_table = df.pivot_table(values = vals, index = column_index, columns = 

columns_cols, aggfunc=[func-1,func-n])

# Exploración de Bases de datos

In [463]:
# ver
df

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
399,312,103,3,3.5,4.0,8.78,0,0.67
400,333,117,4,5.0,4.0,9.66,1,0.95