In [ ]:
# import libraries

import sqlite3 as sql
import numpy as np
import pandas as pd

In [ ]:
# Week 3: 
#
#

In [ ]:
# Week 3: GROUP FUNCTIONS
# Mis-match Error: el nivel de la GROUP FUNCTION tiene que ser el mismo del SELECT

In [ ]:
# # Week 3: Group Functions
# SQL crea un answer set intermedio 
# SQL procesa el group function con el answer set intermedio
# El answer set final contiene solo resultado para la funcion
# WHERE determina el numero de rows en el answer set INTERMEDIO
# GROUP calcula contra las  rows en el INTERMEDIO después del filtro WHERE 


# Five GROUP functions: todas las funciones GROUP  IGNORAN los Nulls (no hacen nada)

# SUM: suma todos los valores en la columna ( solo numerico )
# AVG: promedio(average) de los valores de la columna  ( solo numerico )
# COUNT: cuenta cuantas rows tienen valores no nulos en al columna (*, para solo rows)
# MIN: returns el min value en una columna
# MAX: returns el max value en una columna

In [ ]:
# /* 
# READ/SELECT COUNT (*) solo rows  as "Staff Size"
# FROM "alanparadise/nw"."employees";
# */

SELECT COUNT(*) as "Staff Size"
FROM "alanparadise/nw"."employees";

In [ ]:
# /* 
# READ/SELECT COUNT (DISTINCT columna) as  "variable"
# FROM "database"."table";
# */

SELECT COUNT(DISTINCT Country) as "Countries"
FROM "alanparadise/nw"."customers";

In [ ]:
# /* 
# READ/SELECT COUNT (DISTINCT columna) as  "variable"
# FROM "database"."table";
# */

SELECT COUNT(DISTINCT Country) as "Countries"
FROM "alanparadise/nw"."customers";

In [ ]:
# /* 
# READ/SELECT SUM (columna) as  "variable auxiliar"
# FROM "database"."table";
# */

SELECT SUM(unitsinstock) as "Inventory"
FROM "alanparadise/nw"."products";

In [ ]:
# /* 
# READ/SELECT MAX (columna) as  "variable auxiliar"
# FROM "database"."table";
# */

SELECT MAX(unitprice) as "High Price"
FROM "alanparadise/nw"."products";

In [ ]:
# /* 
# READ/SELECT MIN (columna) as  "variable auxiliar"
# FROM "database"."table";
# */

SELECT MIN(unitprice) as "Low Price"
FROM "alanparadise/nw"."products";

In [ ]:
# /* 
# READ/SELECT AVG  promedio (columna) as  "variable auxiliar"
# FROM "database"."table";
# */

SELECT AVG(unitprice) as "Average Price"
FROM "alanparadise/nw"."products";

In [ ]:
# /* 
# READ/SELECT to_char (columna, val) as  "variable auxiliar"
# FROM "database"."table";
# */ to_char(columna, 'formato')

# funcion de PostgreSQL: convertir  a char 

SELECT to_char(AVG(UnitPrice), '999,999.99') as "Average Price"
FROM "alanparadise/nw"."products";

In [ ]:
# /* 
# READ/SELECT COUNT (*) as  "variable auxiliar"
# FROM "database"."table";
# */

SELECT COUNT(*) as "Staff Size"
FROM "alanparadise/nw"."employees";

In [ ]:
# /* 
# READ/SELECT COUNT (columna) as  "variable auxiliar"
# FROM "database"."table";
# */

SELECT COUNT(employeeid) as "Staff Size"
FROM "alanparadise/nw"."employees";

In [ ]:
# Week 3: Creating Totals and Subtotals
#

In [ ]:
# TOTALS AND SUBTOTALS
# GROUP BY genera subtotales de tablas en SQL
# GROUP BY agrupa con la funcion group sobre un subset de rows de la answer intermedia
# provee una respuesta total para cada subset de rows

In [ ]:
# /* 
# READ/SELECT columna, SUM(columna) as  "variable auxiliar",
#     SUM(columna) as "variable auxiliar"  
# FROM "database"."table"
# WHERE columna in (rango)
# GROUP BY columna;
# 
# */

SELECT OrderID, SUM(UnitPrice) as "Total Price",
    SUM(Quantity) as "Total Quantity"
FROM "alanparadise/nw"."orderdetails"
WHERE OrderID in (10248, 10249, 10250, 10251)
GROUP BY OrderID;

In [ ]:
# para evitar el mismatch entonces
# cuando usando GROUP BY, cada columna en el SELECT debe ser: 
# GROUP function o columna agrupada

In [ ]:
# /* 
# READ/SELECT columna, COUNT(columna) as  "variable auxiliar",
# FROM "database"."table"
# GROUP BY columna;
# 
# */

SELECT country, COUNT(customerid) as "Total"
FROM "alanparadise/nw"."customers"
GROUP BY country;

In [ ]:
# /* 
# READ/SELECT columna, AVG(columna) as  "variable auxiliar",
# FROM "database"."table"
# GROUP BY columna;
# 
# */

SELECT supplierid, AVG(unitprice) as "Total"
FROM "alanparadise/nw"."products"
GROUP BY supplierid;

In [ ]:
# /* 
# READ/SELECT columna, AVG(columna) as  "variable auxiliar",
# FROM "database"."table"
# GROUP BY columna
# ORDER BY num1 DESC LIMIT num2;
# 
# */

# ORDER BY:  sort by el answer set, parametros DESC/ASC y LIMIT num numero de rows en la respuesta
SELECT supplierid, SUM(unitsinstock) as "Inventory"
FROM "alanparadise/nw"."products"
GROUP BY supplierid
ORDER BY 2 DESC LIMIT 1;

In [ ]:
# HAVING
# define una condicion sobre rows del answer set basado en GROUP function
# con GROUP BY,  HAVING es como un WHERE sobre el answer intermedio 
#

In [ ]:
# /* 
# READ/SELECT columna, COUNT(columna) as  "variable auxiliar"
# FROM "database"."table"
# GROUP BY columna
#     HAVING COUNT(columna)>num
# ORDER BY num  DESC;
# 
# */

SELECT country, COUNT(customerid) as "Total"
FROM "alanparadise/nw"."customers"
GROUP BY country
    HAVING COUNT(customerid)>5
ORDER BY 2 DESC ;

In [ ]:
# WHERE escoge sub-set de rows del input chart, luego se hace la FUNCTION
# HAVING escoge sub-set de rows del answer intermedio, después de hacer la FUNCTION

In [ ]:
# Week 3: Sub Queries

# query dentro de query
# siempre tiene que estar en parentesis

# WHERE: 
# SELECT: 
# FROM:

In [ ]:
# WHERE SUB-QUERY
# /* 
# SELECT  col1, col2, col3 
# FROM "database"."table"
# WHERE col = ( 
# --SUB-QUERY
#     SELECT MAX(col)
# 	FROM "database"."table"
# )
# */

# leer productid, productname, unitprice

# WHERE unitprice = (SUBQUERY
# SELECT MAX(unitprice)
)

SELECT productid, productname, unitprice
FROM "alanparadise/nw"."products"
WHERE unitprice = (
	SELECT MAX(unitprice)
	FROM "alanparadise/nw"."products"

)