In [1]:
# import libraries
#

In [2]:
# Week 1: Intro to SQL: RDBMS = PostgreSQL
# SQL-92 Standard
# Course Intro
# Relational Algebra
# SQL Standards
# Query Tuning

In [3]:
# Week1: Course Intro
# intro to SQL 
# SELECT statement
# GROUP BY functions
# JOIN
# DDL and DML
# Advanced SQL commands

In [4]:
# Week 1: Origins of SQL
# data is stored in TABLES(relations)
# TABLES are related to each other by KEYS
# data in TABLES can be stored and retrieved using SQL
# SQL is based in relational algebra

In [5]:
# Week 1: Relational Algebra
# foundation of SQL language
# operations against SETS of numbers
# the SET of numbers is relation (rows and columns)

In [6]:
# SQL  variables are RELATIONS(TABLES)
# operations between variables(TABLES): 
# union(merge), intersection, difference, selection, projection, product, join

# Relational Algebra operations:
# A <UNINON> B,  all elements in A or B or both
# A <INTERSECTION> B,  all elements in A and B 
# A <DIFFERENCE> B,  all elements in A  but not in B 
# <PROJECTION> att1,att2,att-n(A) , subset of columns of table A (pandas over-write)
# <SELECTION><KEY_PARAM=CONDITION_VALUE>(A), subset of rows of table A, on a condition
# product: multiply every row of A with every row of B, combination of all rows in 2 datasets
# A <JOIN> B, combine columns of table A with columns of table B on key column ID

In [7]:
# Week 1: SQL Standards
# RelationalDatabaseManagementSoftware  RDBMS: Oracle, MySQL, Microsoft SQL, PostgreSQL, IBM DB2
# each software have its own unique SQL language syntax

In [ ]:
# Week 1: Query Tuning
# SQL is NOT procedural, line by line
# all inputs to SQL query(script) are TABLES(relations)
# output from a query is another TABLE called answer set
# some queries produce temporary answer sets, calculate subtotals, sort the output, apply functions to temporary answers
# temporary answers sets do not see, but consume resources 

# SQL query running check-list
# 1. parse (syntax checks) the code
# 2. bind TABLES and columns
# 3. create an executable, hand it to the optimizer
# 4. optimizer calculates the most efficient execution plan
# 5. execute the execution plan  ( produce an answer set)

# server can do 1M CPU cyces in the time it takes to do 1 Disk I/O
# optimizer calculates the least cost execution: fastest runtime, minimize use of resources, minimize disk I/O, use of indexes