In [ ]:
# Lab 4: Practicar SELECT queries con GROUP functions y GROUP BY

In [ ]:
# /* 
# READ/SELECT columna
#     SUM(column1*column-n) as "variable auxiliar"
# FROM "database"."table"
# GROUP BY columna
# ORDER BY num DESC  LIMIT num_lim;
# 
# */

# SELECT/READ leer orderid, crear variable "Total Value" como suma de (unitprice*quantity)
# GROUP BY agrupar por columna orderid
# ORDER BY ordenar 2 de manera descendiente, dar 5 rows
SELECT orderid,
    SUM(unitprice*quantity) as "Total Value"
FROM "alanparadise/nw"."orderdetails"
GROUP BY orderid
ORDER BY 2 DESC LIMIT 5 ;

In [ ]:
# /* 
# SELECT  COUNT(col1)
# 
# FROM "database"."table"
# WHERE col > condition; 
# 
# */

# leer COUNT(contar) columnas productid - contar productos, on condition unitstock > 0

SELECT COUNT(productid)
FROM "alanparadise/nw"."products"
WHERE unitsinstock > 0;

In [ ]:
# /* 
# SELECT  COUNT(col1)
# 
# FROM "database"."table"
# WHERE col = 0; 
# 
# */

# leer COUNT(contar) columnas productid - contar productos, on condition unitstock = 0
SELECT COUNT(productid)
FROM "alanparadise/nw"."products"
WHERE unitsinstock = 0;

In [ ]:
# /* 
# SELECT  col1, COUNT(col)
# FROM "database"."table"
# GROUP BY col
# ORDER BY num; 
# 
# */


# leer supplierid, contar(productid) numero de productos
# GROUP BY agrupar por supplierid
# ORDER BY ordenar por 2

SELECT supplierid, COUNT(productid) 
	    FROM "alanparadise/nw"."products"
	GROUP BY supplierid 
	ORDER BY 2;

In [ ]:
# /* 
# SELECT  col1, COUNT(col) AS "var_aux"
# FROM "database"."table"
# GROUP BY col
# HAVING COUNT(col) > num
# ORDER BY  num; 
# */

# leer employeeid, COUNT contar(orderid) como variable auxiliar "Orders"
# GROUP BY agrupar por employeeid
# HAVING(WHERE con funcion) orderid >100
# ORDER BY (sort by) ordenar 2 descendiente

SELECT employeeid, COUNT(orderid) AS "Orders"
    FROM "alanparadise/nw"."orders"
GROUP BY employeeid
HAVING COUNT(orderid) > 100
ORDER BY 2 DESC;